@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.notification {
  --semantic-message-max-width: var(--notification-message-max-width);

  display: flex;
  position: absolute;
  justify-content: end;
  align-items: start;
  z-index: 4;
  cursor: default;
  inset: 0;
  padding: var(--notification-padding-top) var(--notification-padding-right)
    var(--notification-padding-bottom) var(--notification-padding-left);
  pointer-events: none;
  user-select: none;

  & > div {
    pointer-events: auto;
  }
}
