@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.semantic-message {
  display: flex;
  justify-content: space-between;
  gap: var(--semantic-message-gap);
  outline: var(--semantic-message-border-width) solid
    var(--semantic-message-border-color);
  outline-offset: var(--semantic-message-border-offset);
  border-radius: var(--semantic-message-radius);
  background-color: var(--semantic-message-background-color);
  padding: var(--semantic-message-padding);
  max-width: var(--semantic-message-max-width);

  & {
    --semantic-message-padding: var(--semantic-message-padding-default-top)
      var(--semantic-message-padding-default-right)
      var(--semantic-message-padding-default-bottom)
      var(--semantic-message-padding-default-left);
  }

  &--info {
    --semantic-message-background-color: var(
      --semantic-message-background-color-info-default
    );
    --semantic-message-border-width: var(--semantic-message-border-width-info);
    --semantic-message-border-color: var(--semantic-message-border-color-info);
    --semantic-message-border-offset: var(
      --semantic-message-border-offset-info
    );

    --button-secondary-background-color-default: var(
      --semantic-message-background-color-info-default
    );
    --button-secondary-background-color-hover: var(
      --semantic-message-background-color-info-accent
    );

    --button-secondary-border-color-default: var(
      --semantic-message-background-color-info-accent
    );
    --button-secondary-border-color-hover: var(
      --semantic-message-background-color-info-accent
    );
    --icon-button-default-background-color-default: var(
      --semantic-message-background-color-info-default
    );
    --icon-button-default-background-color-hover: var(
      --semantic-message-background-color-info-accent
    );
  }

  &--error {
    --semantic-message-background-color: var(
      --semantic-message-background-color-error-default
    );
    --semantic-message-border-width: var(--semantic-message-border-width-error);
    --semantic-message-border-color: var(--semantic-message-border-color-error);
    --semantic-message-border-offset: var(
      --semantic-message-border-offset-error
    );

    --button-secondary-background-color-default: var(
      --semantic-message-background-color-error-default
    );
    --button-secondary-background-color-hover: var(
      --semantic-message-background-color-error-accent
    );

    --button-secondary-border-color-default: var(
      --semantic-message-background-color-error-accent
    );
    --button-secondary-border-color-hover: var(
      --semantic-message-background-color-error-accent
    );

    --icon-button-default-background-color-default: var(
      --semantic-message-background-color-error-default
    );
    --icon-button-default-background-color-hover: var(
      --semantic-message-background-color-error-accent
    );
  }

  &--success {
    --semantic-message-background-color: var(
      --semantic-message-background-color-success-default
    );
    --semantic-message-border-width: var(
      --semantic-message-border-width-success
    );
    --semantic-message-border-color: var(
      --semantic-message-border-color-success
    );
    --semantic-message-border-offset: var(
      --semantic-message-border-offset-success
    );

    --button-secondary-background-color-default: var(
      --semantic-message-background-color-success-default
    );
    --button-secondary-background-color-hover: var(
      --semantic-message-background-color-success-accent
    );

    --button-secondary-border-color-default: var(
      --semantic-message-background-color-success-accent
    );
    --button-secondary-border-color-hover: var(
      --semantic-message-background-color-success-accent
    );

    --icon-button-default-background-color-default: var(
      --semantic-message-background-color-success-default
    );
    --icon-button-default-background-color-hover: var(
      --semantic-message-background-color-success-accent
    );
  }

  &--warning {
    --semantic-message-background-color: var(
      --semantic-message-background-color-warning-default
    );
    --semantic-message-border-width: var(
      --semantic-message-border-width-warning
    );
    --semantic-message-border-color: var(
      --semantic-message-border-color-warning
    );
    --semantic-message-border-offset: var(
      --semantic-message-border-offset-warning
    );

    --button-secondary-background-color-default: var(
      --semantic-message-background-color-warning-default
    );
    --button-secondary-background-color-hover: var(
      --semantic-message-background-color-warning-accent
    );

    --button-secondary-border-color-default: var(
      --semantic-message-background-color-warning-accent
    );
    --button-secondary-border-color-hover: var(
      --semantic-message-background-color-warning-accent
    );

    --icon-button-default-background-color-default: var(
      --semantic-message-background-color-warning-default
    );
    --icon-button-default-background-color-hover: var(
      --semantic-message-background-color-warning-accent
    );
  }

  &--anchored {
    border-radius: 0;
    --semantic-message-padding: var(--semantic-message-padding-anchored-top)
      var(--semantic-message-padding-anchored-right)
      var(--semantic-message-padding-anchored-bottom)
      var(--semantic-message-padding-anchored-left);

    &.semantic-message--vertical {
      --semantic-message-padding: var(
          --semantic-message-padding-anchored-vertical-top
        )
        var(--semantic-message-padding-anchored-vertical-right)
        var(--semantic-message-padding-anchored-vertical-bottom)
        var(--semantic-message-padding-anchored-vertical-left);
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: center;
    --semantic-message-padding: var(--semantic-message-padding-vertical-top)
      var(--semantic-message-padding-vertical-right)
      var(--semantic-message-padding-vertical-bottom)
      var(--semantic-message-padding-vertical-left);
  }

  &__body {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
  }
}
