@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.popin {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  cursor: default;
  outline: var(--popin-border-width) solid var(--popin-border-color);
  outline-offset: var(--popin-border-offset);
  box-shadow: var(--popin-shadow);
  border-radius: var(--popin-radius);
  background-color: var(--popin-background-color);
  width: 100%;
  min-width: var(--popin-min-width);
  max-width: var(--popin-max-width);
  min-height: var(--popin-min-height);
  max-height: 100%;
  overflow: hidden;
  user-select: none;

  & {
    --popin-shadow: var(--popin-shadow-default);
  }

  &--panel {
    --popin-max-width: var(--popin-width-panel);
    --popin-min-width: var(--popin-width-panel);
    --popin-min-height: 100%;
    --popin-radius: 0;
    --popin-shadow: var(--popin-shadow-panel);
  }

  .popin__header {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;
    gap: var(--popin-header-gap);
    border-bottom: var(--popin-header-border-width) solid
      var(--popin-header-border-color);
    padding: var(--popin-header-padding-top) var(--popin-header-padding-right)
      var(--popin-header-padding-bottom) var(--popin-header-padding-left);
    height: var(--popin-header-height);
  }

  .popin__title {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-transform: var(--popin-header-text-transform);
  }

  .popin__content {
    display: flex;
    position: relative;
    flex: 1;
    padding: 0;
    overflow: hidden auto;

    &--loading,
    &--message {
      justify-content: center;
      align-items: center;
      padding: var(--popin-content-padding-empty-top)
        var(--popin-content-padding-empty-right)
        var(--popin-content-padding-empty-bottom)
        var(--popin-content-padding-empty-left);
    }
  }

  .popin__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: var(--popin-footer-border-width) solid
      var(--popin-footer-border-color);
    padding: var(--popin-footer-padding-top) var(--popin-footer-padding-right)
      var(--popin-footer-padding-bottom) var(--popin-footer-padding-left);
  }

  .popin__actions {
    display: flex;
    gap: var(--popin-actions-gap);
  }
}

@media (width <= 460px) {
  .popin {
    min-width: unset;
    max-width: unset;
    height: auto;
    max-height: 100%;

    &--panel {
      --popin-max-width: 100%;
      --popin-min-width: 100%;
      --popin-min-height: 100%;

      height: 100%;
    }

    .popin__content,
    .popin__actions,
    .popin__footer {
      flex-direction: column;
    }

    .popin__actions,
    .popin__footer {
      flex-direction: column-reverse;
    }

    .popin__footer {
      gap: var(--popin-footer-gap);
      height: auto;
    }

    .popin__actions {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
