@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.simple-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--simple-item-gap);
  box-sizing: content-box;
  outline: var(--simple-item-border-width) solid var(--simple-item-border-color);
  outline-offset: var(--simple-item-border-offset);
  background-color: var(--simple-item-background-color);
  padding: var(--simple-item-padding-top) var(--simple-item-padding-right)
    var(--simple-item-padding-bottom) var(--simple-item-padding-left);
  min-height: var(--simple-item-min-height);

  & {
    --simple-item-background-color: var(--simple-item-background-color-default);
    --simple-item-border-width: var(--simple-item-border-width-default);
    --simple-item-border-offset: var(--simple-item-border-offset-default);
    --simple-item-border-color: var(--simple-item-border-color-default);
  }

  &--centered {
    align-items: center;
  }

  &--baseline {
    align-items: baseline;
  }

  &--interactive {
    &:hover {
      --simple-item-background-color: var(--simple-item-background-color-hover);
    }

    &:focus {
      --simple-item-background-color: var(--simple-item-background-color-focus);
      --simple-item-border-width: var(--simple-item-border-width-focus);
      --simple-item-border-offset: var(--simple-item-border-offset-focus);
      --simple-item-border-color: var(--simple-item-border-color-focus);
    }
  }

  &--transparent {
    --simple-item-background-color: transparent;
  }

  .simple-item__left,
  .simple-item__right {
    display: flex;
    max-width: 100%;
  }

  .simple-item__left {
    flex: 1;
    min-width: var(--size-null);
    overflow: hidden;
  }

  .simple-item__param {
    max-width: 100%;

    &--compact {
      width: var(--simple-item-width-compact);
      min-width: var(--simple-item-min-width-compact);
    }

    &--square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--simple-item-width-square);
      min-width: var(--simple-item-min-width-square);
    }

    &--fill {
      flex: 1;
    }
  }
}
