@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.textarea {
  display: flex;
  position: relative;
  align-items: center;
  cursor: inherit;
  padding: var(--input-textarea-padding-top) var(--input-textarea-padding-right)
    var(--input-textarea-padding-bottom) var(--input-textarea-padding-left);
  width: 100%;
  min-height: var(--input-textarea-min-height);
  overflow: visible;
  overflow: hidden auto;
  resize: none;
  font-weight: var(--input-text-font-weight);
  font-size: var(--input-text-font-size);
  line-height: var(--input-text-line-height);
  font-family: var(--input-text-font-family);
  letter-spacing: var(--input-text-letter-spacing);

  --input-border-width: var(--input-border-width-empty-default);
  --input-border-offset: var(--input-border-offset-empty-default);
  --input-border-color: var(--input-border-color-empty-default);

  &--monospace {
    font-family: monospace;
  }
}

.input {
  display: flex;
  position: relative;
  align-items: start;
  gap: var(--input-gap);
  cursor: default;
  user-select: none;

  &.input--blocked {
    pointer-events: none;
  }

  &--with-icon & {
    &__field {
      padding-left: var(--input-padding-with-icon-left);
    }
  }

  &--with-color & {
    &__field {
      padding-left: var(--input-padding-with-color-left);
    }
  }

  input {
    cursor: inherit;
    user-select: none;

    &[type='color' i] {
      position: absolute;
      top: 50%;
      left: var(--input-color-chip-left);
      transform: translateY(-50%);
      appearance: none;
      opacity: var(--input-color-chip-opacity);
      z-index: 1;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 0;
      width: var(--input-color-chip-width);
      height: var(--input-color-chip-height);
    }

    &[type='color' i]::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &[type='color' i]::-webkit-color-swatch {
      box-shadow: var(--input-color-chip-border);
      border: none;
      border-radius: var(--input-color-chip-radius);

      & {
        --input-color-chip-border: var(--input-color-chip-border-default);
      }
    }

    @media (prefers-color-scheme: dark) {
      &[type='color' i] {
        color-scheme: dark;
      }
    }

    @media (prefers-color-scheme: light) {
      &[type='color' i] {
        color-scheme: light;
      }
    }

    &[type='color' i] {
      --input-color-chip-opacity: var(--input-color-chip-opacity-default);
    }

    &[type='color' i]:focus::-webkit-color-swatch {
      --input-color-chip-border: var(--input-color-chip-border-focus);
    }

    &[type='color' i]:focus ~ .input__field {
      --input-background-color: var(--input-background-color-focus);
      --input-border-width: var(--input-border-width-focus);
      --input-border-offset: var(--input-border-offset-focus);
      --input-border-color: var(--input-border-color-focus);
      --input-text-color: var(--input-text-color-focus);
      --input-text-placeholder-color: var(--input-text-placeholder-color-focus);
    }

    &[type='number'] {
      width: var(--input-number-width);
    }

    &[type='color'] ~ .input__field {
      width: var(--input-color-width);
    }

    &[type='number']::-webkit-inner-spin-button {
      display: none;
    }

    &[type='number'] {
      appearance: textfield;
    }
  }

  /* Input */
  &__wrapper {
    position: relative;
    flex: 1;
  }

  &.input--flex .input__wrapper {
    flex: 1;
  }

  &__icon,
  &__unit {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: var(--input-icon-width);
    height: var(--input-icon-height);
    --icon-letter-color: var(--input-icon-color);
    --icon-picto-color: var(--input-icon-color);
  }

  &__icon {
    top: 0;
    left: 0;
  }

  &__unit {
    top: 0;
    right: 0;
    pointer-events: none;
  }

  &__field {
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    outline: var(--input-border-width) solid var(--input-border-color);
    outline-offset: var(--input-border-offset);
    border: none;
    border-radius: var(--input-radius);
    background-color: var(--input-background-color);
    padding: var(--input-padding-default-top) var(--input-padding-default-right)
      var(--input-padding-default-bottom) var(--input-padding-default-left);
    width: 100%;
    height: var(--input-height);
    overflow: visible;
    color: var(--input-text-color);
    font-weight: var(--input-text-font-weight);
    font-size: var(--input-text-font-size);
    line-height: var(--input-text-line-height);
    font-family: var(--input-text-font-family);
    letter-spacing: var(--input-text-letter-spacing);

    & {
      --input-border-width: var(--input-border-width-default);
      --input-border-offset: var(--input-border-offset-default);
      --input-border-color: var(--input-border-color-default);
      --input-background-color: var(--input-background-color-default);
      --input-text-color: var(--input-text-color-default);
    }

    &::placeholder {
      color: var(--input-text-placeholder-color);
    }

    &:disabled {
      pointer-events: none;
    }

    &:placeholder-shown {
      --input-background-color: var(--input-background-color-empty-default);
      --input-border-width: var(--input-border-width-empty-default);
      --input-border-offset: var(--input-border-offset-empty-default);
      --input-border-color: var(--input-border-color-empty-default);
      --input-text-color: var(--input-text-color-empty-default);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-empty-default
      );
    }

    &:placeholder-shown:hover:not(:disabled) {
      --input-background-color: var(--input-background-color-empty-hover);
      --input-border-width: var(--input-border-width-empty-hover);
      --input-border-offset: var(--input-border-offset-empty-hover);
      --input-border-color: var(--input-border-color-empty-hover);
      --input-text-color: var(--input-text-color-empty-hover);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-empty-hover
      );
    }

    &:placeholder-shown:focus {
      --input-background-color: var(--input-background-color-empty-focus);
      --input-border-width: var(--input-border-width-empty-focus);
      --input-border-offset: var(--input-border-offset-empty-focus);
      --input-border-color: var(--input-border-color-empty-focus);
      --input-text-color: var(--input-text-color-empty-focus);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-empty-focus
      );
    }

    &--error:placeholder-shown {
      --input-background-color: var(
        --input-background-color-empty-error-default
      );
      --input-border-width: var(--input-border-width-empty-error-default);
      --input-border-offset: var(--input-border-offset-empty-error-default);
      --input-border-color: var(--input-border-color-empty-error-default);
      --input-text-color: var(--input-text-color-empty-error-default);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-empty-error-default
      );
    }

    &--error:placeholder-shown:hover:not(:disabled) {
      --input-background-color: var(--input-background-color-empty-error-hover);
      --input-border-width: var(--input-border-width-empty-error-hover);
      --input-border-offset: var(--input-border-offset-empty-error-hover);
      --input-border-color: var(--input-border-color-empty-error-hover);
      --input-text-color: var(--input-text-color-empty-error-hover);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-empty-error-hover
      );
    }

    &--error:placeholder-shown:focus {
      --input-background-color: var(--input-background-color-empty-error-focus);
      --input-border-width: var(--input-border-width-empty-error-focus);
      --input-border-offset: var(--input-border-offset-empty-error-focus);
      --input-border-color: var(--input-border-color-empty-error-focus);
      --input-text-color: var(--input-text-color-empty-error-focus);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-empty-error-focus
      );
    }

    &:hover:not(:disabled) {
      --input-background-color: var(--input-background-color-hover);
      --input-border-width: var(--input-border-width-hover);
      --input-border-offset: var(--input-border-offset-hover);
      --input-border-color: var(--input-border-color-hover);
      --input-text-color: var(--input-text-color-hover);
      --input-text-placeholder-color: var(--input-text-placeholder-color-hover);
    }

    &:focus {
      --input-background-color: var(--input-background-color-focus);
      --input-border-width: var(--input-border-width-focus);
      --input-border-offset: var(--input-border-offset-focus);
      --input-border-color: var(--input-border-color-focus);
      --input-text-color: var(--input-text-color-focus);
      --input-text-placeholder-color: var(--input-text-placeholder-color-focus);
    }

    &--error {
      --input-background-color: var(--input-background-color-error-default);
      --input-border-width: var(--input-border-width-error-default);
      --input-border-offset: var(--input-border-offset-error-default);
      --input-border-color: var(--input-border-color-error-default);
      --input-text-color: var(--input-text-color-error-default);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-error-default
      );
    }

    &--error:hover:not(:disabled) {
      --input-background-color: var(--input-background-color-error-hover);
      --input-border-width: var(--input-border-width-error-hover);
      --input-border-offset: var(--input-border-offset-error-hover);
      --input-border-color: var(--input-border-color-error-hover);
      --input-text-color: var(--input-text-color-error-hover);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-error-hover
      );
    }

    &--error:focus {
      --input-background-color: var(--input-background-color-error-focus);
      --input-border-width: var(--input-border-width-error-focus);
      --input-border-offset: var(--input-border-offset-error-focus);
      --input-border-color: var(--input-border-color-error-focus);
      --input-text-color: var(--input-text-color-error-focus);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-error-focus
      );
    }

    &:disabled {
      --input-background-color: var(--input-background-color-disabled);
      --input-border-width: var(--input-border-width-disabled);
      --input-border-offset: var(--input-border-offset-disabled);
      --input-border-color: var(--input-border-color-disabled);
      --input-text-color: var(--input-text-color-disabled);
      --input-text-placeholder-color: var(
        --input-text-placeholder-color-disabled
      );
    }

    &--no-frame,
    &--no-frame:focus {
      outline: none;
      background-color: transparent;
    }

    &--flex {
      width: 100% !important;
    }

    &--clearable {
      padding-right: var(--input-padding-clearable-right);
    }

    &--unit {
      padding-right: var(--input-padding-unit-right);
    }
  }

  &__color {
    &:hover:not(:disabled) ~ .input__field {
      --input-background-color: var(--input-background-color-hover);
      --input-border-width: var(--input-border-width-hover);
      --input-border-offset: var(--input-border-offset-hover);
      --input-border-color: var(--input-border-color-hover);
      --input-text-color: var(--input-text-color-hover);
      --input-text-placeholder-color: var(--input-text-placeholder-color-hover);
    }

    &:disabled[type='color' i] {
      --input-color-chip-opacity: var(--input-color-chip-opacity-disabled);

      pointer-events: none;
    }
  }

  &__clear {
    position: absolute;
    top: var(--input-clearable-top);
    right: var(--input-clearable-right);
  }

  &__status {
    display: flex;
    align-items: center;
    gap: var(--input-status-gap);
    height: var(--input-status-height);

    & {
      --input-status-height: var(--input-status-height-default);
    }
  }

  &--long-text {
    --input-status-height: var(--input-status-height-long-text);
  }
}
