@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.select-menu {
  position: relative;
  border-radius: var(--actions-list-radius);

  .select-menu__spot {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: var(--actions-list-spot-radius);
    background-color: var(--actions-list-spot-background-color);
    height: var(--actions-list-spot-height);
    --icon-picto-color: var(--actions-list-spot-icon-color);

    &--top {
      inset: var(--actions-list-spot-inset-top-top)
        var(--actions-list-spot-inset-top-right)
        var(--actions-list-spot-inset-top-bottom)
        var(--actions-list-spot-inset-top-left);
      border-top: var(--actions-list-spot-border-width) solid
        var(--actions-list-spot-border-color);
    }

    &--bottom {
      inset: var(--actions-list-spot-inset-bottom-top)
        var(--actions-list-spot-inset-bottom-right)
        var(--actions-list-spot-inset-bottom-bottom)
        var(--actions-list-spot-inset-bottom-left);
      border-bottom: var(--actions-list-spot-border-width) solid
        var(--actions-list-spot-border-color);
    }
  }

  &__menu {
    position: relative;
    z-index: 0;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    outline: var(--actions-list-border-width) solid
      var(--actions-list-border-color);
    outline-offset: var(--actions-list-border-offset);
    box-shadow: var(--actions-list-shadow);
    border-radius: var(--actions-list-radius);
    background-color: var(--actions-list-background-color);
    padding: var(--actions-list-padding-top) var(--actions-list-padding-right)
      var(--actions-list-padding-bottom) var(--actions-list-padding-left);
    width: 100%;
    min-width: var(--actions-list-min-width);
    overflow: visible;
    user-select: none;

    &--scrolling {
      z-index: 1;
      height: 100%;
      overflow: hidden auto;
    }

    &--left .select-menu__submenu {
      transform: translateX(-100%);
      inset: var(--actions-list-submenu-inset-left-top)
        var(--actions-list-submenu-inset-left-right)
        var(--actions-list-submenu-inset-left-bottom)
        var(--actions-list-submenu-inset-left-left);
    }

    &--right .select-menu__submenu {
      transform: translateX(100%);
      inset: var(--actions-list-submenu-inset-right-top)
        var(--actions-list-submenu-inset-right-right)
        var(--actions-list-submenu-inset-right-bottom)
        var(--actions-list-submenu-inset-right-left);
    }
  }

  &__item {
    display: flex;
    position: relative;
    align-items: center;
    gap: var(--actions-list-item-gap);
    cursor: default;
    outline: none;
    border-radius: var(--actions-list-item-radius);
    background-color: var(--actions-list-item-background-color);
    padding: var(--actions-list-item-padding);
    height: var(--actions-list-item-height);
    user-select: none;
    --text-color-primary: var(--actions-list-item-text-color);

    &[data-role='TITLE'] {
      text-transform: var(--actions-list-title-text-transform);
    }

    &::before {
      position: absolute;
      inset: 0 auto 0 var(--actions-list-patch-left);
      background-color: transparent;
      width: var(--actions-list-patch-width);
      content: '';
    }

    &::after {
      position: absolute;
      inset: 0 var(--actions-list-patch-right) 0 auto;
      background-color: transparent;
      width: var(--actions-list-patch-width);
      content: '';
    }

    &__tick {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--actions-list-caret-width);
      height: var(--actions-list-caret-height);
      pointer-events: none;
      --icon-picto-color: var(--actions-list-tick-color);
    }

    &__label {
      flex: 1;
      pointer-events: none;
      font-weight: var(--actions-list-item-text-font-weight);
      font-size: var(--actions-list-item-text-font-size);
      line-height: var(--actions-list-item-text-line-height);
      font-family: var(--actions-list-item-text-font-family);
      letter-spacing: var(--actions-list-item-text-letter-spacing);
      white-space: nowrap;
    }

    &__shortcut {
      pointer-events: none;
      font-weight: var(--actions-list-item-text-font-weight);
      font-size: var(--actions-list-item-text-font-size);
      line-height: var(--actions-list-item-text-line-height);
      font-family: var(--actions-list-item-text-font-family);
      letter-spacing: var(--actions-list-item-text-letter-spacing);
      white-space: nowrap;
    }

    &__caret {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--actions-list-caret-width);
      height: var(--actions-list-caret-height);
      pointer-events: none;
      --icon-picto-color: var(--actions-list-caret-color);
    }

    & {
      --actions-list-item-padding: var(--actions-list-item-padding-default-top)
        var(--actions-list-item-padding-default-right)
        var(--actions-list-item-padding-default-bottom)
        var(--actions-list-item-padding-default-left);
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-default
      );
      --actions-list-item-text-color: var(
        --actions-list-item-text-color-default
      );
      --actions-list-tick-color: var(--actions-list-tick-color-default);
      --actions-list-caret-color: var(--actions-list-caret-color-default);
    }

    &:hover {
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-hover
      );
      --actions-list-item-text-color: var(--actions-list-item-text-color-hover);
      --actions-list-tick-color: var(--actions-list-tick-color-hover);
      --actions-list-caret-color: var(--actions-list-caret-color-hover);

      .select-menu__submenu {
        --actions-list-item-background-color: var(
          --actions-list-item-background-color-default
        );
      }
    }

    &:focus {
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-focus
      );
      --actions-list-item-text-color: var(--actions-list-item-text-color-focus);
      --actions-list-tick-color: var(--actions-list-tick-color-focus);
      --actions-list-caret-color: var(--actions-list-caret-color-focus);

      .select-menu__submenu {
        --actions-list-item-background-color: var(
          --actions-list-item-background-color-default
        );
      }
    }

    &--selected {
      --actions-list-item-padding: var(--actions-list-item-padding-selected-top)
        var(--actions-list-item-padding-selected-right)
        var(--actions-list-item-padding-selected-bottom)
        var(--actions-list-item-padding-selected-left);
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-selected
      );
      --actions-list-item-text-color: var(
        --actions-list-item-text-color-selected
      );
      --actions-list-tick-color: var(--actions-list-tick-color-selected);
      --actions-list-caret-color: var(--actions-list-caret-color-selected);

      &:hover {
        --actions-list-item-padding: var(
            --actions-list-item-padding-selected-hover-top
          )
          var(--actions-list-item-padding-selected-hover-right)
          var(--actions-list-item-padding-selected-hover-bottom)
          var(--actions-list-item-padding-selected-hover-left);
        --actions-list-item-background-color: var(
          --actions-list-item-background-color-selected-hover
        );
        --actions-list-item-text-color: var(
          --actions-list-item-text-color-selected-hover
        );
        --actions-list-tick-color: var(
          --actions-list-tick-color-selected-hover
        );
        --actions-list-caret-color: var(
          --actions-list-caret-color-selected-hover
        );
      }

      &:focus {
        --actions-list-item-padding: var(
            --actions-list-item-padding-selected-focus-top
          )
          var(--actions-list-item-padding-selected-focus-right)
          var(--actions-list-item-padding-selected-focus-bottom)
          var(--actions-list-item-padding-selected-focus-left);
        --actions-list-item-background-color: var(
          --actions-list-item-background-color-selected-focus
        );
        --actions-list-item-text-color: var(
          --actions-list-item-text-color-selected-focus
        );
        --actions-list-tick-color: var(
          --actions-list-tick-color-selected-focus
        );
        --actions-list-caret-color: var(
          --actions-list-caret-color-selected-focus
        );
      }
    }

    &--blocked,
    &--disabled {
      pointer-events: none;
      --actions-list-item-background-color: var(
        --actions-list-item-background-color-disabled
      );
      --actions-list-item-text-color: var(
        --actions-list-item-text-color-disabled
      );
      --actions-list-tick-color: var(--actions-list-tick-color-disabled);
      --actions-list-caret-color: var(--actions-list-caret-color-disabled);

      .select-menu__submenu {
        --actions-list-item-background-color: var(
          --actions-list-item-background-color
        );
        --actions-list-item-text-color: var(--actions-list-item-text-color);
        --actions-list-tick-color: var(--actions-list-tick-color);
        --actions-list-caret-color: var(--actions-list-caret-color);
      }
    }
  }

  hr {
    margin: var(--actions-list-divider-margin-top)
      var(--actions-list-divider-margin-right)
      var(--actions-list-divider-margin-bottom)
      var(--actions-list-divider-margin-left);
    border: none;
    background-color: var(--actions-list-divider-background-color);
    height: var(--actions-list-divider-height);
  }

  li[data-role='SEPARATOR'] {
    display: block;
  }

  &__search {
    display: block;
    height: auto;
    list-style: none;
  }

  &__menu--searchable {
    li.select-menu__search {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--actions-list-background-color);
    }

    li.select-menu__search + li[data-role='SEPARATOR'] {
      position: sticky;
      top: var(--input-height);
      z-index: 1;
      background-color: var(--actions-list-background-color);
    }
  }

  &__submenu {
    position: absolute;
  }
}
