@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.thumbnail {
  display: flex;
  outline: var(--thumbnail-border-width) solid var(--thumbnail-border-color);
  outline-offset: var(--thumbnail-border-offset);
  border-radius: var(--thumbnail-radius);
  background: var(--thumbnail-background-color);
  height: 100%;

  .thumbnail__image {
    margin: auto;
    max-width: calc(100% - var(--thumbnail-padding));
    max-height: calc(100% - var(--thumbnail-padding));
  }

  .thumbnail__error,
  .thumbnail__loader {
    margin: auto;
  }
}
