@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.color-chip {
  position: relative;
  flex: none;
  cursor: default;
  outline: var(--color-chip-border-width) solid var(--color-chip-border-color);
  outline-offset: var(--color-chip-border-offset);
  border-radius: var(--color-chip-radius);
  user-select: none;

  &--rounded {
    --color-chip-radius: var(--border-radius-full);
  }
}
