@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.checkbox,
.radio,
.switch {
  display: flex;
  position: relative;
  align-items: center;
  cursor: default;
  user-select: none;

  &__label {
    color: var(--select-text-color-default);
  }

  &__status {
    display: flex;
    align-items: center;
    align-self: start;
    gap: var(--select-status-gap);
    margin: var(--select-status-margin-top) var(--select-status-margin-right)
      var(--select-status-margin-bottom) var(--select-status-margin-left);
    height: var(--select-status-height);
  }
}

/* Checkbox */
.checkbox {
  gap: var(--select-checkbox-gap);
  min-height: var(--select-checkbox-height);

  &__slot {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    line-height: 0;
  }

  &__label {
    display: flex;
    align-items: start;
    height: 100%;
    color: var(--select-text-color-default);
    font-weight: var(--select-text-font-weight);
    font-size: var(--select-text-font-size);
    line-height: var(--select-text-line-height);
    font-family: var(--select-text-font-family);
    letter-spacing: var(--select-text-letter-spacing);
    user-select: none;

    &--disabled {
      color: var(--select-text-color-disabled);
    }
  }

  &__box {
    position: relative;
    flex: none;
    flex-shrink: 0;
    opacity: 0;
    z-index: 2;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    width: var(--select-box-width);
    height: var(--select-box-height);
    line-height: 0;

    &__background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      outline: var(--select-box-border-width-secondary-default) solid
        var(--select-box-border-color-secondary-default);
      outline-offset: var(--select-box-border-offset-secondary-default);
      box-shadow: inset 0 0 0 var(--select-box-border-width-default)
        var(--select-box-border-color-default);
      border-radius: var(--select-box-radius);
      background: var(--select-box-background-color-default);
      width: var(--select-box-width);
      height: var(--select-box-height);
    }

    &__tick {
      display: block;
      position: absolute;
      top: var(--select-box-tick-position-top);
      left: var(--select-box-tick-position-left);
      visibility: hidden;
      z-index: 1;
      mask-image: var(--select-box-tick-icon);
      -webkit-mask-image: var(--select-box-tick-icon);
      mask-position: center center;
      -webkit-mask-position: center center;
      mask-size: cover;
      -webkit-mask-size: cover;
      background-color: var(--select-box-tick-color-default);
      width: var(--select-box-tick-width);
      height: var(--select-box-tick-height);
      pointer-events: none;
    }

    &:checked ~ .checkbox__box__background {
      box-shadow: inset 0 0 0 var(--select-box-border-width-checked-default)
        var(--select-box-border-color-checked-default);
      background: var(--select-box-background-color-checked-default);
    }

    &:checked ~ .checkbox__box__tick {
      visibility: visible;
    }

    &:focus ~ .checkbox__box__background {
      outline: var(--select-box-border-width-secondary-focus) solid
        var(--select-box-border-color-secondary-focus);
      outline-offset: var(--select-box-border-offset-secondary-focus);
    }

    &:focus:checked ~ .checkbox__box__background {
      outline: var(--select-box-border-width-secondary-checked-focus) solid
        var(--select-box-border-color-secondary-checked-focus);
      outline-offset: var(--select-box-border-offset-secondary-checked-focus);
    }

    &:disabled:checked ~ .checkbox__box__background {
      box-shadow: inset 0 0 0 var(--select-box-border-width-checked-disabled)
        var(--select-box-border-color-checked-disabled);
      background: var(--select-box-background-color-checked-disabled);
    }

    &:disabled ~ .checkbox__box__background {
      box-shadow: inset 0 0 0 var(--select-box-border-width-disabled)
        var(--select-box-border-color-disabled);
      background: var(--select-box-background-color-disabled);
    }

    &:disabled:checked ~ .checkbox__box__tick {
      background-color: var(--select-box-tick-color-disabled);
    }
  }
}

.switch {
  gap: var(--select-switch-gap);
  min-height: var(--select-switch-height);

  &__slot {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    line-height: 0;
  }

  &__label {
    display: flex;
    align-items: start;
    height: 100%;
    color: var(--select-text-color-default);
    font-weight: var(--select-text-font-weight);
    font-size: var(--select-text-font-size);
    line-height: var(--select-text-line-height);
    font-family: var(--select-text-font-family);
    letter-spacing: var(--select-text-letter-spacing);
    user-select: none;

    &--disabled {
      color: var(--select-text-color-disabled);
    }
  }

  &__toggle {
    position: relative;
    flex: none;
    flex-shrink: 0;
    opacity: 0;
    z-index: 2;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    width: var(--select-toggle-width);
    height: var(--select-toggle-height);
    line-height: 0;

    &__background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: background-color
        var(--select-toggle-knob-transition-background-color);
      outline: var(--select-toggle-border-width-secondary-default) solid
        var(--select-toggle-border-color-secondary-default);
      outline-offset: var(--select-toggle-border-offset-secondary-default);
      box-shadow: inset 0 0 0 var(--select-toggle-border-width-default)
        var(--select-toggle-border-color-default);
      border-radius: var(--select-toggle-radius);
      background-color: var(--select-toggle-background-color-default);
      width: var(--select-toggle-width);
      height: var(--select-toggle-height);
    }

    &__knob {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(
          var(--select-toggle-knob-transform-default-translate-x)
        )
        translateY(var(--select-toggle-knob-transform-default-translate-y));
      z-index: 1;
      transition: transform var(--select-toggle-knob-transition-transform);
      border-radius: var(--select-toggle-knob-radius);
      background-color: var(--select-toggle-knob-background-color-default);
      width: var(--select-toggle-knob-width);
      height: var(--select-toggle-knob-height);
    }

    &:checked ~ .switch__toggle__background {
      box-shadow: inset 0 0 0 var(--select-toggle-border-width-checked-default)
        var(--select-toggle-border-color-checked-default);
      background-color: var(--select-toggle-background-color-checked-default);
    }

    &:checked ~ .switch__toggle__knob {
      transform: translateX(
          var(--select-toggle-knob-transform-checked-translate-x)
        )
        translateY(var(--select-toggle-knob-transform-checked-translate-y));
      background-color: var(
        --select-toggle-knob-background-color-checked-default
      );
    }

    &:focus ~ .switch__toggle__background {
      outline: var(--select-toggle-border-width-secondary-focus) solid
        var(--select-toggle-border-color-secondary-focus);
      outline-offset: var(--select-toggle-border-offset-secondary-focus);
    }

    &:focus:checked ~ .switch__toggle__background {
      outline: var(--select-toggle-border-width-secondary-checked-focus) solid
        var(--select-toggle-border-color-secondary-checked-focus);
      outline-offset: var(
        --select-toggle-border-offset-secondary-checked-focus
      );
    }

    &:disabled ~ .switch__toggle__background {
      box-shadow: inset 0 0 0 var(--select-toggle-border-width-disabled)
        var(--select-toggle-border-color-disabled);
      background-color: var(--select-toggle-background-color-disabled);
    }

    &:disabled ~ .switch__toggle__knob {
      background-color: var(--select-toggle-knob-background-color-disabled);
    }

    &:disabled:checked ~ .switch__toggle__background {
      box-shadow: inset 0 0 0 var(--select-toggle-border-width-checked-disabled)
        var(--select-toggle-border-color-checked-disabled);
      background-color: var(--select-toggle-background-color-checked-disabled);
    }

    &:disabled:checked ~ .switch__toggle__knob {
      background-color: var(
        --select-toggle-knob-background-color-checked-disabled
      );
    }
  }
}

/* Radio */
.radio {
  gap: var(--select-radio-gap);
  min-height: var(--select-radio-height);

  &__slot {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    line-height: 0;
  }

  &__label {
    display: flex;
    position: relative;
    align-items: start;
    height: 100%;
    color: var(--select-text-color-default);
    font-weight: var(--select-text-font-weight);
    font-size: var(--select-text-font-size);
    line-height: var(--select-text-line-height);
    font-family: var(--select-text-font-family);
    letter-spacing: var(--select-text-letter-spacing);
    user-select: none;

    &--disabled {
      color: var(--select-text-color-disabled);
    }
  }

  &__button {
    position: relative;
    flex: none;
    flex-shrink: 0;
    opacity: 0;
    z-index: 2;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    width: var(--select-button-width);
    height: var(--select-button-height);
    line-height: 0;

    &__background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      outline: var(--select-button-border-width-secondary-default) solid
        var(--select-button-border-color-secondary-default);
      outline-offset: var(--select-button-border-offset-secondary-default);
      box-shadow: inset 0 0 0 var(--select-button-border-width-default)
        var(--select-button-border-color-default);
      border-radius: var(--select-button-radius);
      background: var(--select-button-background-color-default);
      width: var(--select-button-width);
      height: var(--select-button-height);
    }

    &__inner {
      display: block;
      position: absolute;
      top: var(--select-button-inner-position-top);
      left: var(--select-button-inner-position-left);
      visibility: hidden;
      z-index: 1;
      border-radius: var(--select-button-radius);
      background-color: var(--select-button-icon-color-default);
      width: var(--select-button-inner-width);
      height: var(--select-button-inner-height);
    }

    &:checked ~ .radio__button__background {
      box-shadow: inset 0 0 0 var(--select-button-border-width-checked-default)
        var(--select-button-border-color-checked-default);
      background: var(--select-button-background-color-checked-default);
    }

    &:checked ~ .radio__button__inner {
      visibility: visible;
    }

    &:focus ~ .radio__button__background {
      outline: var(--select-button-border-width-secondary-focus) solid
        var(--select-button-border-color-secondary-focus);
      outline-offset: var(--select-button-border-offset-secondary-focus);
    }

    &:focus:checked ~ .radio__button__background {
      outline: var(--select-button-border-width-secondary-checked-focus) solid
        var(--select-button-border-color-secondary-checked-focus);
      outline-offset: var(
        --select-button-border-offset-secondary-checked-focus
      );
    }

    &:disabled:checked ~ .radio__button__background {
      box-shadow: inset 0 0 0 var(--select-button-border-width-checked-disabled)
        var(--select-button-border-color-checked-disabled);
      background: var(--select-button-background-color-checked-disabled);
    }

    &:disabled:checked ~ .radio__button__inner {
      background-color: var(--select-button-icon-color-disabled);
    }

    &:disabled + .radio__button__background {
      box-shadow: inset 0 0 0 var(--select-button-border-width-disabled)
        var(--select-button-border-color-disabled);
      background: var(--select-button-background-color-disabled);
    }
  }
}
