@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  background-color: var(--section-background-color);
  padding: var(--section-padding-top) var(--section-padding-right)
    var(--section-padding-bottom) var(--section-padding-left);

  --section-border: var(--section-border-width) solid
    var(--section-border-color);

  &__child {
    padding: var(--section-child-padding-default-top)
      var(--section-child-padding-default-right)
      var(--section-child-padding-default-bottom)
      var(--section-child-padding-default-left);

    &--large {
      padding: var(--section-child-padding-large-top)
        var(--section-child-padding-large-right)
        var(--section-child-padding-large-bottom)
        var(--section-child-padding-large-left);
    }

    &--tight {
      padding: var(--section-child-padding-tight-top)
        var(--section-child-padding-tight-right)
        var(--section-child-padding-tight-bottom)
        var(--section-child-padding-tight-left);
    }

    &--none {
      padding: var(--section-child-padding-none);
    }
  }
}
