@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.section-title {
  display: flex;
  align-items: center;
  gap: var(--section-title-gap);
  cursor: default;
  box-sizing: border-box;
  padding: var(--section-title-padding-top) var(--section-title-padding-right)
    var(--section-title-padding-bottom) var(--section-title-padding-left);
  width: 100%;
  height: var(--section-title-height);
  color: var(--section-title-text-color);
  font-weight: var(--section-title-text-font-weight);
  font-size: var(--section-title-text-font-size);
  line-height: var(--section-title-text-line-height);
  font-family: var(--section-title-text-font-family);
  letter-spacing: var(--section-title-text-letter-spacing);
  user-select: none;

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: var(--section-title-text-transform);
    white-space: nowrap;
  }

  .section-title__tooltip {
    display: flex;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: var(--section-title-info-icon-width);
    height: var(--section-title-info-icon-height);
  }
}
