@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.chip {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: var(--chip-gap);
  cursor: default;
  box-sizing: border-box;
  margin: var(--chip-margin-top) var(--chip-margin-right)
    var(--chip-margin-bottom) var(--chip-margin-left);
  outline: var(--chip-border-width) solid var(--chip-border-color);
  outline-offset: var(--chip-border-offset);
  border-radius: var(--chip-radius);
  background-color: var(--chip-background-color);
  padding: var(--chip-padding-top) var(--chip-padding-right)
    var(--chip-padding-bottom) var(--chip-padding-left);
  max-width: 100%;
  height: var(--chip-height);
  user-select: none;

  &--interactive {
    pointer-events: auto;

    & {
      --chip-background-color: var(--chip-background-color-default);
      --chip-border-color: var(--chip-border-color-default);
      --chip-border-offset: var(--chip-border-offset-default);
      --chip-border-width: var(--chip-border-width-default);
      --chip-text-color: var(--chip-text-color-default);
    }

    &:hover,
    &:focus {
      --chip-background-color: var(--chip-background-color-hover);
      --chip-border-color: var(--chip-border-color-hover);
      --chip-border-offset: var(--chip-border-offset-hover);
      --chip-border-width: var(--chip-border-width-hover);
      --chip-text-color: var(--chip-text-color-hover);
    }
  }

  .chip__text {
    color: var(--chip-text-color);
    font-weight: var(--chip-text-weight);
    font-size: var(--chip-text-size);
    letter-spacing: var(--chip-text-letter-spacing);
    text-transform: var(--chip-text-transform);
    text-wrap: nowrap;
  }

  .chip__left-slot {
    display: flex;
  }

  .chip__right-slot {
    display: flex;
  }

  & {
    --chip-background-color: var(--chip-background-color-default);
    --chip-border-color: var(--chip-border-color-default);
    --chip-border-width: var(--chip-border-width-default);
    --chip-border-offset: var(--chip-border-offset-default);
    --chip-text-color: var(--chip-text-color-default);
    --chip-text-weight: var(--chip-text-weight-default);
  }

  &--inactive {
    --chip-background-color: var(--chip-background-color-inactive);
    --chip-border-color: var(--chip-border-color-inactive);
    --chip-border-width: var(--chip-border-width-inactive);
    --chip-border-offset: var(--chip-border-offset-inactive);
    --chip-text-color: var(--chip-text-color-inactive);
  }

  &--solo {
    margin: 0;
  }

  &--on-background {
    margin: 0;
    --chip-background-color: var(--chip-background-color-on-background);
    --chip-border-color: var(--chip-border-color-on-background);
    --chip-border-width: var(--chip-border-width-on-background);
    --chip-border-offset: var(--chip-border-offset-on-background);
    --chip-text-color: var(--chip-text-color-on-background);
    --chip-text-weight: var(--chip-text-weight-on-background);
  }
}
