@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.menu {
  position: relative;

  &.menu--top-right > .floating-menu {
    top: var(--menu-position-top-right);
    right: 0;
    left: unset;
    transform: translateY(-100%);
  }

  &.menu--top-left > .floating-menu {
    top: var(--menu-position-top-left);
    left: 0;
    transform: translateY(-100%);
  }

  &.menu--bottom-right > .floating-menu {
    top: var(--menu-position-bottom-right);
    right: 0;
    left: unset;
  }

  &.menu--bottom-left > .floating-menu {
    top: var(--menu-position-bottom-left);
    left: 0;
  }
}

.floating-menu .select-menu__menu {
  position: relative;
}

.floating-menu .select-menu__submenu {
  position: absolute;
}
