@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.drawer {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--drawer-background-color);
  --drawer-border: var(--drawer-border-width) solid var(--drawer-border-color);

  &--scrolling {
    overflow: hidden auto;
  }

  &__knob {
    position: absolute;
    z-index: 2;
    cursor: ns-resize;

    &--top,
    &--bottom {
      cursor: ns-resize;
      width: 100%;
      height: var(--drawer-knob-size);
    }

    &--left,
    &--right {
      cursor: ew-resize;
      width: var(--drawer-knob-size);
      height: 100%;
    }

    &--top {
      bottom: var(--drawer-knob-position);
    }

    &--right {
      left: var(--drawer-knob-position);
    }

    &--bottom {
      top: var(--drawer-knob-position);
    }

    &--left {
      right: var(--drawer-knob-position);
    }
  }
}
