.snackbar {
  display: flex;
  align-items: center;

  &--tight {
    @extend .snackbar;

    gap: var(--size-pos-xxxsmall);
  }

  &--medium {
    @extend .snackbar;

    gap: var(--size-pos-xxsmall);
  }

  &--large {
    @extend .snackbar;

    gap: var(--size-pos-xsmall);
  }

  &--start {
    align-items: start;
  }

  &--centered {
    align-items: center;
  }

  &--end {
    align-items: end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--fill {
    align-items: stretch;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--left {
    justify-content: start;

    @media (width <= 460px) {
      justify-content: center;
    }
  }

  &--center {
    justify-content: center;

    @media (width <= 460px) {
      justify-content: center;
    }
  }

  &--right {
    justify-content: end;

    @media (width <= 460px) {
      justify-content: center;
    }
  }
}

.stackbar {
  display: flex;
  flex-direction: column;
  align-items: start;

  &--tight {
    @extend .stackbar;

    gap: var(--size-pos-xxxsmall);
  }

  &--medium {
    @extend .stackbar;

    gap: var(--size-pos-xxsmall);
  }

  &--large {
    @extend .stackbar;

    gap: var(--size-pos-xsmall);
  }

  &--start {
    align-items: start;
  }

  &--centered {
    align-items: center;
  }

  &--end {
    align-items: end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--fill {
    align-items: stretch;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--left {
    justify-content: start;

    @media (width <= 460px) {
      justify-content: center;
    }
  }

  &--center {
    justify-content: center;

    @media (width <= 460px) {
      justify-content: center;
    }
  }

  &--right {
    justify-content: end;

    @media (width <= 460px) {
      justify-content: center;
    }
  }
}

.centered {
  margin: auto;
}
