@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--card-gap);
  box-sizing: border-box;
  outline: var(--card-border-width) solid var(--card-border-color);
  outline-offset: var(--card-border-offset);
  border-radius: var(--card-radius);
  background-color: var(--card-background-color);
  padding: var(--card-padding-top) var(--card-padding-right)
    var(--card-padding-bottom) var(--card-padding-left);
  width: var(--card-width);

  &--fill {
    width: 100%;
  }

  & {
    --card-background-color: var(--card-background-color-default);
    --card-border-width: var(--card-border-width-default);
    --card-border-color: var(--card-border-color-default);
    --card-border-offset: var(--card-border-offset-default);
  }

  &:hover {
    --card-background-color: var(--card-background-color-hover);
    --card-border-width: var(--card-border-width-hover);
    --card-border-color: var(--card-border-color-hover);
    --card-border-offset: var(--card-border-offset-hover);

    .card__actions {
      visibility: visible;
    }
  }

  &:focus {
    --card-background-color: var(--card-background-color-focus);
    --card-border-width: var(--card-border-width-focus);
    --card-border-color: var(--card-border-color-focus);
    --card-border-offset: var(--card-border-offset-focus);

    .card__actions {
      visibility: visible;
    }
  }

  &__tags {
    display: flex;
    position: absolute;
    justify-content: end;
    z-index: 2;
    inset: calc(var(--card-padding-top) / 2) calc(var(--card-padding-right) / 2)
      auto auto;
  }

  &__asset {
    position: relative;
    aspect-ratio: var(--card-ratio);
  }

  &__actions {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    place-content: center center;
    align-items: center;
    gap: var(--card-actions-gap);
    visibility: hidden;
    inset: 0;
    padding: var(--card-actions-padding-top) var(--card-actions-padding-right)
      var(--card-actions-padding-bottom) var(--card-actions-padding-left);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--card-content-gap);
  }
}
