@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.knob {
  display: flex;
  position: absolute;
  top: var(--knob-top);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: ew-resize;
  background: transparent;
  min-width: var(--knob-min-width);
  height: var(--knob-height);

  & {
    --knob-label-background-color: var(--knob-label-background-color-default);
    --knob-label-border-color: var(--knob-label-border-color-default);
    --knob-label-border-width: var(--knob-label-border-width-default);
    --knob-label-text-color: var(--knob-label-text-color-default);
    --knob-label-arrow-background-color: var(
      --knob-label-arrow-background-color-default
    );
    --knob-label-arrow-border-color: var(
      --knob-label-arrow-border-color-default
    );
  }

  &:hover {
    --knob-label-background-color: var(--knob-label-background-color-hover);
    --knob-label-text-color: var(--knob-label-text-color-hover);
    --knob-label-arrow-background-color: var(
      --knob-label-arrow-background-color-hover
    );
    --knob-label-arrow-border-color: var(--knob-label-arrow-border-color-hover);
  }

  &:focus,
  &--selected,
  &:active {
    --knob-label-background-color: var(--knob-label-background-color-focus);
    --knob-label-border-color: var(--knob-label-border-color-focus);
    --knob-label-border-width: var(--knob-label-border-width-focus);
    --knob-label-text-color: var(--knob-label-text-color-focus);
    --knob-label-arrow-background-color: var(
      --knob-label-arrow-background-color-focus
    );
    --knob-label-arrow-border-color: var(--knob-label-arrow-border-color-focus);
  }

  &:focus,
  &--selected,
  &--editing {
    z-index: 2 !important;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    --knob-label-background-color: var(--knob-label-background-color-disabled);
    --knob-label-border-color: var(--knob-label-border-color-disabled);
    --knob-label-text-color: var(--knob-label-text-color-disabled);
    --knob-label-arrow-background-color: var(
      --knob-label-arrow-background-color-disabled
    );
    --knob-label-arrow-border-color: var(
      --knob-label-arrow-border-color-disabled
    );
  }
}

.knob__label {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 0 var(--knob-label-border-width)
    var(--knob-label-border-color);
  border-radius: var(--knob-label-radius);
  background: var(--knob-label-background-color);
  padding: var(--knob-label-padding-top) var(--knob-label-padding-right)
    var(--knob-label-padding-bottom) var(--knob-label-padding-left);
  width: 100%;
  height: var(--knob-label-height);
  pointer-events: none;
  user-select: none;
  text-align: center;
  --text-color-primary: var(--knob-label-text-color);

  span {
    z-index: 2;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    transform-origin: 50% 50%;
    z-index: 1;
    border-top: transparent;
    border-right: var(--knob-label-arrow-border-width) solid
      var(--knob-label-arrow-border-color);
    border-bottom: var(--knob-label-arrow-border-width) solid
      var(--knob-label-arrow-border-color);
    border-left: transparent;
    border-radius: var(--knob-label-arrow-radius);
    background-color: var(--knob-label-arrow-background-color);
    width: var(--knob-label-arrow-width);
    height: var(--knob-label-arrow-height);
    content: '';
  }
}

.knob__tooltip {
  position: absolute;
  top: var(--knob-tooltip-top);
  left: 50%;
  align-items: center;
  transform: translateX(-50%) translateY(-100%);
  border-radius: var(--knob-tooltip-radius);
  background-color: var(--knob-tooltip-background-color);
  padding: var(--knob-tooltip-padding-top) var(--knob-tooltip-padding-right)
    var(--knob-tooltip-padding-bottom) var(--knob-tooltip-padding-left);
  min-width: var(--knob-tooltip-min-width);
  pointer-events: none;
  color: var(--knob-tooltip-text-color);
  user-select: none;
  text-align: center;

  span {
    z-index: 2;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    transform-origin: 50% 50%;
    z-index: 1;
    border-top: transparent;
    border-right: var(--knob-tooltip-arrow-border-width) solid
      var(--knob-tooltip-arrow-border-color);
    border-bottom: var(--knob-tooltip-arrow-border-width) solid
      var(--knob-tooltip-arrow-border-color);
    border-left: transparent;
    border-radius: var(--knob-tooltip-arrow-radius);
    background-color: var(--knob-tooltip-arrow-background-color);
    width: var(--knob-tooltip-arrow-width);
    height: var(--knob-tooltip-arrow-height);
    content: '';
  }
}

.knob__graduation {
  background: var(--knob-graduation-background-color);
  width: var(--knob-graduation-width);
  height: var(--knob-graduation-height);
  pointer-events: none;
}

.knob__input {
  position: absolute;
  top: var(--knob-input-top);
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 2;
  outline: var(--knob-input-border-width) solid var(--knob-input-border-color);
  outline-offset: var(--knob-input-border-offset);
  box-shadow: var(--knob-input-shadow);
  border-radius: var(--knob-input-radius);
  background-color: var(--knob-input-background-color);
  padding: var(--knob-input-padding-top) var(--knob-input-padding-right)
    var(--knob-input-padding-bottom) var(--knob-input-padding-left);
  width: var(--knob-input-width);
}
