@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.icon {
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  cursor: default;
  pointer-events: none;

  &--adjust {
    mask-image: var(--icon-adjust);
    -webkit-mask-image: var(--icon-adjust);
  }

  &--alert {
    mask-image: var(--icon-alert);
    -webkit-mask-image: var(--icon-alert);
  }

  &--angle {
    mask-image: var(--icon-angle);
    -webkit-mask-image: var(--icon-angle);
  }

  &--arrow-left-right {
    mask-image: var(--icon-arrow-left-right);
    -webkit-mask-image: var(--icon-arrow-left-right);
  }

  &--arrow-up-down {
    mask-image: var(--icon-arrow-up-down);
    -webkit-mask-image: var(--icon-arrow-up-down);
  }

  &--auto-layout-horizontal {
    mask-image: var(--icon-auto-layout-horizontal);
    -webkit-mask-image: var(--icon-auto-layout-horizontal);
  }

  &--auto-layout-vertical {
    mask-image: var(--icon-auto-layout-vertical);
    -webkit-mask-image: var(--icon-auto-layout-vertical);
  }

  &--back {
    mask-image: var(--icon-back);
    -webkit-mask-image: var(--icon-back);
  }

  &--blend-empty {
    mask-image: var(--icon-blend-empty);
    -webkit-mask-image: var(--icon-blend-empty);
  }

  &--blend {
    mask-image: var(--icon-blend);
    -webkit-mask-image: var(--icon-blend);
  }

  &--break {
    mask-image: var(--icon-break);
    -webkit-mask-image: var(--icon-break);
  }

  &--caret-down {
    mask-image: var(--icon-caret-down);
    -webkit-mask-image: var(--icon-caret-down);
  }

  &--caret-left {
    mask-image: var(--icon-caret-left);
    -webkit-mask-image: var(--icon-caret-left);
  }

  &--caret-right {
    mask-image: var(--icon-caret-right);
    -webkit-mask-image: var(--icon-caret-right);
  }

  &--caret-up {
    mask-image: var(--icon-caret-up);
    -webkit-mask-image: var(--icon-caret-up);
  }

  &--chevron-down {
    mask-image: var(--icon-chevron-down);
    -webkit-mask-image: var(--icon-chevron-down);
  }

  &--chevron-left {
    mask-image: var(--icon-chevron-left);
    -webkit-mask-image: var(--icon-chevron-left);
  }

  &--chevron-right {
    mask-image: var(--icon-chevron-right);
    -webkit-mask-image: var(--icon-chevron-right);
  }

  &--chevron-up {
    mask-image: var(--icon-chevron-up);
    -webkit-mask-image: var(--icon-chevron-up);
  }

  &--check {
    mask-image: var(--icon-check);
    -webkit-mask-image: var(--icon-check);
  }

  &--close {
    mask-image: var(--icon-close);
    -webkit-mask-image: var(--icon-close);
  }

  &--code {
    mask-image: var(--icon-code);
    -webkit-mask-image: var(--icon-code);
  }

  &--component {
    mask-image: var(--icon-component);
    -webkit-mask-image: var(--icon-component);
  }

  &--copy {
    mask-image: var(--icon-copy);
    -webkit-mask-image: var(--icon-copy);
  }

  &--corner-radius {
    mask-image: var(--icon-corner-radius);
    -webkit-mask-image: var(--icon-corner-radius);
  }

  &--corners {
    mask-image: var(--icon-corners);
    -webkit-mask-image: var(--icon-corners);
  }

  &--downward {
    mask-image: var(--icon-downward);
    -webkit-mask-image: var(--icon-downward);
  }

  &--distribute-horizontal-spacing {
    mask-image: var(--icon-distribute-horizontal-spacing);
    -webkit-mask-image: var(--icon-distribute-horizontal-spacing);
  }

  &--distribute-vertical-spacing {
    mask-image: var(--icon-distribute-vertical-spacing);
    -webkit-mask-image: var(--icon-distribute-vertical-spacing);
  }

  &--draft {
    mask-image: var(--icon-draft);
    -webkit-mask-image: var(--icon-draft);
  }

  &--effects {
    mask-image: var(--icon-effects);
    -webkit-mask-image: var(--icon-effects);
  }

  &--ellipses {
    mask-image: var(--icon-ellipses);
    -webkit-mask-image: var(--icon-ellipses);
  }

  &--eyedropper {
    mask-image: var(--icon-eyedropper);
    -webkit-mask-image: var(--icon-eyedropper);
  }

  &--forward {
    mask-image: var(--icon-forward);
    -webkit-mask-image: var(--icon-forward);
  }

  &--filter {
    mask-image: var(--icon-filter);
    -webkit-mask-image: var(--icon-filter);
  }

  &--frame {
    mask-image: var(--icon-frame);
    -webkit-mask-image: var(--icon-frame);
  }

  &--group {
    mask-image: var(--icon-group);
    -webkit-mask-image: var(--icon-group);
  }

  &--help {
    mask-image: var(--icon-help);
    -webkit-mask-image: var(--icon-help);
  }

  &--hidden {
    mask-image: var(--icon-hidden);
    -webkit-mask-image: var(--icon-hidden);
  }

  &--horizontal-padding {
    mask-image: var(--icon-horizontal-padding);
    -webkit-mask-image: var(--icon-horizontal-padding);
  }

  &--hyperlink {
    mask-image: var(--icon-hyperlink);
    -webkit-mask-image: var(--icon-hyperlink);
  }

  &--image {
    mask-image: var(--icon-image);
    -webkit-mask-image: var(--icon-image);
  }

  &--import {
    mask-image: var(--icon-import);
    -webkit-mask-image: var(--icon-import);
  }

  &--instance {
    mask-image: var(--icon-instance);
    -webkit-mask-image: var(--icon-instance);
  }

  &--key {
    mask-image: var(--icon-key);
    -webkit-mask-image: var(--icon-key);
  }

  &--layout-align-bottom {
    mask-image: var(--icon-layout-align-bottom);
    -webkit-mask-image: var(--icon-layout-align-bottom);
  }

  &--layout-align-horizontal-centers {
    mask-image: var(--icon-layout-align-horizontal-centers);
    -webkit-mask-image: var(--icon-layout-align-horizontal-centers);
  }

  &--layout-align-left {
    mask-image: var(--icon-layout-align-left);
    -webkit-mask-image: var(--icon-layout-align-left);
  }

  &--layout-align-right {
    mask-image: var(--icon-layout-align-right);
    -webkit-mask-image: var(--icon-layout-align-right);
  }

  &--layout-align-top {
    mask-image: var(--icon-layout-align-top);
    -webkit-mask-image: var(--icon-layout-align-top);
  }

  &--layout-align-vertical-centers {
    mask-image: var(--icon-layout-align-vertical-centers);
    -webkit-mask-image: var(--icon-layout-align-vertical-centers);
  }

  &--layout-grid-columns {
    mask-image: var(--icon-layout-grid-columns);
    -webkit-mask-image: var(--icon-layout-grid-columns);
  }

  &--layout-grid-rows {
    mask-image: var(--icon-layout-grid-rows);
    -webkit-mask-image: var(--icon-layout-grid-rows);
  }

  &--layout-grid-uniform {
    mask-image: var(--icon-layout-grid-uniform);
    -webkit-mask-image: var(--icon-layout-grid-uniform);
  }

  &--library {
    mask-image: var(--icon-library);
    -webkit-mask-image: var(--icon-library);
  }

  &--link-broken {
    mask-image: var(--icon-link-broken);
    -webkit-mask-image: var(--icon-link-broken);
  }

  &--link-connected {
    mask-image: var(--icon-link-connected);
    -webkit-mask-image: var(--icon-link-connected);
  }

  &--list-detailed {
    mask-image: var(--icon-list-detailed);
    -webkit-mask-image: var(--icon-list-detailed);
  }

  &--list-tile {
    mask-image: var(--icon-list-tile);
    -webkit-mask-image: var(--icon-list-tile);
  }

  &--list {
    mask-image: var(--icon-list);
    -webkit-mask-image: var(--icon-list);
  }

  &--lock-off {
    mask-image: var(--icon-lock-off);
    -webkit-mask-image: var(--icon-lock-off);
  }

  &--lock-on {
    mask-image: var(--icon-lock-on);
    -webkit-mask-image: var(--icon-lock-on);
  }

  &--minus {
    mask-image: var(--icon-minus);
    -webkit-mask-image: var(--icon-minus);
  }

  &--play {
    mask-image: var(--icon-play);
    -webkit-mask-image: var(--icon-play);
  }

  &--plus {
    mask-image: var(--icon-plus);
    -webkit-mask-image: var(--icon-plus);
  }

  &--random {
    mask-image: var(--icon-random);
    -webkit-mask-image: var(--icon-random);
  }

  &--recent {
    mask-image: var(--icon-recent);
    -webkit-mask-image: var(--icon-recent);
  }

  &--redo {
    mask-image: var(--icon-redo);
    -webkit-mask-image: var(--icon-redo);
  }

  &--refresh {
    mask-image: var(--icon-refresh);
    -webkit-mask-image: var(--icon-refresh);
  }

  &--reset {
    mask-image: var(--icon-reset);
    -webkit-mask-image: var(--icon-reset);
  }

  &--resize-to-fit {
    mask-image: var(--icon-resize-to-fit);
    -webkit-mask-image: var(--icon-resize-to-fit);
  }

  &--resolve-filled {
    mask-image: var(--icon-resolve-filled);
    -webkit-mask-image: var(--icon-resolve-filled);
  }

  &--resolve {
    mask-image: var(--icon-resolve);
    -webkit-mask-image: var(--icon-resolve);
  }

  &--reverse {
    mask-image: var(--icon-reverse);
    -webkit-mask-image: var(--icon-reverse);
  }

  &--search-large {
    mask-image: var(--icon-search-large);
    -webkit-mask-image: var(--icon-search-large);
  }

  &--search {
    mask-image: var(--icon-search);
    -webkit-mask-image: var(--icon-search);
  }

  &--settings {
    mask-image: var(--icon-settings);
    -webkit-mask-image: var(--icon-settings);
  }

  &--share {
    mask-image: var(--icon-share);
    -webkit-mask-image: var(--icon-share);
  }

  &--smiley {
    mask-image: var(--icon-smiley);
    -webkit-mask-image: var(--icon-smiley);
  }

  &--sort-alpha-asc {
    mask-image: var(--icon-sort-alpha-asc);
    -webkit-mask-image: var(--icon-sort-alpha-asc);
  }

  &--sort-alpha-dsc {
    mask-image: var(--icon-sort-alpha-dsc);
    -webkit-mask-image: var(--icon-sort-alpha-dsc);
  }

  &--sort-top-bottom {
    mask-image: var(--icon-sort-top-bottom);
    -webkit-mask-image: var(--icon-sort-top-bottom);
  }

  &--spacing {
    mask-image: var(--icon-spacing);
    -webkit-mask-image: var(--icon-spacing);
  }

  &--star-off {
    mask-image: var(--icon-star-off);
    -webkit-mask-image: var(--icon-star-off);
  }

  &--star-on {
    mask-image: var(--icon-star-on);
    -webkit-mask-image: var(--icon-star-on);
  }

  &--stroke-weight {
    mask-image: var(--icon-stroke-weight);
    -webkit-mask-image: var(--icon-stroke-weight);
  }

  &--styles {
    mask-image: var(--icon-styles);
    -webkit-mask-image: var(--icon-styles);
  }

  &--swap {
    mask-image: var(--icon-swap);
    -webkit-mask-image: var(--icon-swap);
  }

  &--theme {
    mask-image: var(--icon-theme);
    -webkit-mask-image: var(--icon-theme);
  }

  &--tidy-up-grid {
    mask-image: var(--icon-tidy-up-grid);
    -webkit-mask-image: var(--icon-tidy-up-grid);
  }

  &--tidy-up-list-horizontal {
    mask-image: var(--icon-tidy-up-list-horizontal);
    -webkit-mask-image: var(--icon-tidy-up-list-horizontal);
  }

  &--tidy-up-list-vertical {
    mask-image: var(--icon-tidy-up-list-vertical);
    -webkit-mask-image: var(--icon-tidy-up-list-vertical);
  }

  &--timer {
    mask-image: var(--icon-timer);
    -webkit-mask-image: var(--icon-timer);
  }

  &--toggle-sidebar-top {
    mask-image: var(--icon-toggle-sidebar-top);
    -webkit-mask-image: var(--icon-toggle-sidebar-top);
  }

  &--toggle-sidebar-right {
    mask-image: var(--icon-toggle-sidebar-right);
    -webkit-mask-image: var(--icon-toggle-sidebar-right);
  }

  &--toggle-sidebar-bottom {
    mask-image: var(--icon-toggle-sidebar-bottom);
    -webkit-mask-image: var(--icon-toggle-sidebar-bottom);
  }

  &--toggle-sidebar-left {
    mask-image: var(--icon-toggle-sidebar-left);
    -webkit-mask-image: var(--icon-toggle-sidebar-left);
  }

  &--trash {
    mask-image: var(--icon-trash);
    -webkit-mask-image: var(--icon-trash);
  }

  &--vertical-padding {
    mask-image: var(--icon-vertical-padding);
    -webkit-mask-image: var(--icon-vertical-padding);
  }

  &--visible {
    mask-image: var(--icon-visible);
    -webkit-mask-image: var(--icon-visible);
  }

  &--warning-large {
    mask-image: var(--icon-warning-large);
    -webkit-mask-image: var(--icon-warning-large);
  }

  &--warning {
    mask-image: var(--icon-warning);
    -webkit-mask-image: var(--icon-warning);
  }

  &--repository {
    mask-image: var(--icon-repository);
    -webkit-mask-image: var(--icon-repository);
  }

  &--info {
    mask-image: var(--icon-info);
    -webkit-mask-image: var(--icon-info);
  }

  &--resize-grip {
    mask-image: var(--icon-resize-grip);
    -webkit-mask-image: var(--icon-resize-grip);
  }

  &--spinner {
    mask-image: var(--icon-spinner);
    -webkit-mask-image: var(--icon-spinner);
  }

  &--upward {
    mask-image: var(--icon-upward);
    -webkit-mask-image: var(--icon-upward);
  }

  &--undo {
    mask-image: var(--icon-undo);
    -webkit-mask-image: var(--icon-undo);
  }

  &--user {
    mask-image: var(--icon-user);
    -webkit-mask-image: var(--icon-user);
  }

  &--target {
    mask-image: var(--icon-target);
    -webkit-mask-image: var(--icon-target);
  }
}
