@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.multiple-slider {
  display: flex;
  position: relative;
  align-items: center;
  margin: var(--multiple-slider-margin-top) var(--multiple-slider-margin-right)
    var(--multiple-slider-margin-bottom) var(--multiple-slider-margin-left);
  padding: var(--multiple-slider-padding-top)
    var(--multiple-slider-padding-right) var(--multiple-slider-padding-bottom)
    var(--multiple-slider-padding-left);

  &--no-padding {
    padding: 0;
  }

  &__range {
    position: relative;
    flex: 1 1 auto;
    border-radius: var(--multiple-slider-radius);
    background-color: var(--multiple-slider-background-color);
    height: var(--multiple-slider-height);

    &--add {
      cursor: copy;
    }

    &--not-allowed {
      cursor: not-allowed;
    }

    &--blocked {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__gradient-container {
    position: absolute;
    inset: 0;
    border-radius: var(--multiple-slider-radius);
    overflow: hidden;
  }

  &__border {
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0 var(--multiple-slider-border-width)
      var(--multiple-slider-border-color);
    border-radius: var(--multiple-slider-radius);
    pointer-events: none;
    z-index: 3;
  }

  &__gradient-track {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
  }

  &__progress {
    position: absolute;
    top: 0;
    z-index: 2;
    border-radius: var(--multiple-slider-radius);
    background-color: var(--multiple-slider-progress-color);
    height: 100%;
    pointer-events: none;
  }

  &__gamut-overlay {
    position: absolute;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    inset: 0;
    border-radius: var(--multiple-slider-radius);
    background-color: var(--simple-slider-background-color);
    opacity: var(--alpha-700);
    pointer-events: none;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: var(--multiple-slider-status-gap);
    margin: var(--multiple-slider-status-margin-top)
      var(--multiple-slider-status-margin-right)
      var(--multiple-slider-status-margin-bottom)
      var(--multiple-slider-status-margin-left);
    height: var(--multiple-slider-status-height);
  }
}
