@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.button__status {
  display: flex;
  align-items: center;
  gap: var(--button-status-gap);
  height: var(--button-status-height);
}

.text-button,
.icon-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: default;
  border: none;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }

  .text-button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-base-icon-width);
    height: var(--button-base-icon-height);
    --icon-picto-color: var(--button-base-icon-color);
  }

  .text-button__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-button__caret {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--button-base-caret-width);
    height: var(--button-base-caret-height);
    --icon-picto-color: var(--button-base-icon-color);
  }

  .text-button__loader,
  .icon-button__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    --icon-picto-color: var(--button-base-icon-color);
  }

  &.text-button--loading,
  &.icon-button--loading {
    pointer-events: none;
  }

  &.text-button--loading > .text-button__label,
  &.text-button--loading > .text-button__caret,
  &.text-button--loading > .text-button__icon {
    opacity: 0;
  }
}

.text-button {
  gap: var(--button-base-gap);
  outline: var(--button-base-border-width) solid var(--button-base-border-color);
  outline-offset: var(--button-base-border-offset);
  border-radius: var(--button-base-radius);
  background-color: var(--button-base-background-color);
  padding: var(--button-base-padding);
  height: var(--button-base-height);
  color: var(--button-base-text-color);
  font-weight: var(--button-base-text-font-weight);
  font-size: var(--button-base-text-font-size);
  line-height: var(--button-base-text-line-height);
  font-family: var(--button-base-text-font-family);
  letter-spacing: var(--button-base-text-letter-spacing);
  text-decoration: var(--button-base-text-decoration);
  text-transform: var(--button-base-text-transform);

  a {
    color: var(--button-base-text-color);
    text-decoration: var(--button-base-text-decoration);
  }

  & {
    --button-base-padding: var(--button-base-padding-top)
      var(--button-base-padding-right) var(--button-base-padding-bottom)
      var(--button-base-padding-left);
  }

  &--small {
    --button-base-padding: var(--button-small-padding-top)
      var(--button-small-padding-right) var(--button-small-padding-bottom)
      var(--button-small-padding-left);
    --button-base-height: var(--button-small-height);
  }

  &--large {
    --button-base-padding: var(--button-large-padding-top)
      var(--button-large-padding-right) var(--button-large-padding-bottom)
      var(--button-large-padding-left);
    --button-base-height: var(--button-large-height);
  }

  .icon-chip {
    pointer-events: auto;
  }

  &--primary {
    --button-base-background-color: var(
      --button-primary-background-color-default
    );
    --button-base-border-color: var(--button-primary-border-color-default);
    --button-base-border-width: var(--button-primary-border-width-default);
    --button-base-border-offset: var(--button-primary-border-offset-default);
    --button-base-text-color: var(--button-primary-text-color-default);
    --button-base-icon-color: var(--button-primary-icon-color-default);
    --button-base-text-decoration: var(
      --button-primary-text-decoration-default
    );
    --icon-picto-color: var(--button-primary-icon-color-default);

    &:enabled:hover {
      --button-base-background-color: var(
        --button-primary-background-color-hover
      );
      --button-base-border-color: var(--button-primary-border-color-hover);
      --button-base-border-width: var(--button-primary-border-width-hover);
      --button-base-border-offset: var(--button-primary-border-offset-hover);
      --button-base-text-color: var(--button-primary-text-color-hover);
      --button-base-icon-color: var(--button-primary-icon-color-hover);
      --button-base-text-decoration: var(
        --button-primary-text-decoration-hover
      );
      --icon-picto-color: var(--button-primary-icon-color-hover);
    }

    &:enabled:focus {
      --button-base-background-color: var(
        --button-primary-background-color-focus
      );
      --button-base-border-color: var(--button-primary-border-color-focus);
      --button-base-border-width: var(--button-primary-border-width-focus);
      --button-base-border-offset: var(--button-primary-border-offset-focus);
      --button-base-text-color: var(--button-primary-text-color-focus);
      --button-base-icon-color: var(--button-primary-icon-color-focus);
      --button-base-text-decoration: var(
        --button-primary-text-decoration-focus
      );
      --icon-picto-color: var(--button-primary-icon-color-focus);
    }

    &:enabled:active {
      --button-base-background-color: var(
        --button-primary-background-color-pressed
      );
      --button-base-border-color: var(--button-primary-border-color-pressed);
      --button-base-border-width: var(--button-primary-border-width-pressed);
      --button-base-border-offset: var(--button-primary-border-offset-pressed);
      --button-base-text-color: var(--button-primary-text-color-pressed);
      --button-base-icon-color: var(--button-primary-icon-color-pressed);
      --button-base-text-decoration: var(
        --button-primary-text-decoration-pressed
      );
      --icon-picto-color: var(--button-primary-icon-color-pressed);
    }

    &:disabled {
      --button-base-background-color: var(
        --button-primary-background-color-disabled
      );
      --button-base-border-color: var(--button-primary-border-color-disabled);
      --button-base-border-width: var(--button-primary-border-width-disabled);
      --button-base-border-offset: var(--button-primary-border-offset-disabled);
      --button-base-text-color: var(--button-primary-text-color-disabled);
      --button-base-icon-color: var(--button-primary-icon-color-disabled);
      --button-base-text-decoration: var(
        --button-primary-text-decoration-disabled
      );
      --icon-picto-color: var(--button-primary-icon-color-disabled);
    }
  }

  &--secondary {
    --button-base-background-color: var(
      --button-secondary-background-color-default
    );
    --button-base-border-color: var(--button-secondary-border-color-default);
    --button-base-border-width: var(--button-secondary-border-width-default);
    --button-base-border-offset: var(--button-secondary-border-offset-default);
    --button-base-text-color: var(--button-secondary-text-color-default);
    --button-base-icon-color: var(--button-secondary-icon-color-default);
    --button-base-text-decoration: var(
      --button-secondary-text-decoration-default
    );
    --icon-picto-color: var(--button-secondary-icon-color-default);

    &:enabled:hover {
      --button-base-background-color: var(
        --button-secondary-background-color-hover
      );
      --button-base-border-color: var(--button-secondary-border-color-hover);
      --button-base-border-width: var(--button-secondary-border-width-hover);
      --button-base-border-offset: var(--button-secondary-border-offset-hover);
      --button-base-text-color: var(--button-secondary-text-color-hover);
      --button-base-icon-color: var(--button-secondary-icon-color-hover);
      --button-base-text-decoration: var(
        --button-secondary-text-decoration-hover
      );
      --icon-picto-color: var(--button-secondary-icon-color-hover);
    }

    &:enabled:focus {
      --button-base-background-color: var(
        --button-secondary-background-color-focus
      );
      --button-base-border-color: var(--button-secondary-border-color-focus);
      --button-base-border-width: var(--button-secondary-border-width-focus);
      --button-base-border-offset: var(--button-secondary-border-offset-focus);
      --button-base-text-color: var(--button-secondary-text-color-focus);
      --button-base-icon-color: var(--button-secondary-icon-color-focus);
      --button-base-text-decoration: var(
        --button-secondary-text-decoration-focus
      );
      --icon-picto-color: var(--button-secondary-icon-color-focus);
    }

    &:enabled:active {
      --button-base-background-color: var(
        --button-secondary-background-color-pressed
      );
      --button-base-border-color: var(--button-secondary-border-color-pressed);
      --button-base-border-width: var(--button-secondary-border-width-pressed);
      --button-base-border-offset: var(
        --button-secondary-border-offset-pressed
      );
      --button-base-text-color: var(--button-secondary-text-color-pressed);
      --button-base-icon-color: var(--button-secondary-icon-color-pressed);
      --button-base-text-decoration: var(
        --button-secondary-text-decoration-pressed
      );
      --icon-picto-color: var(--button-secondary-icon-color-pressed);
    }

    &:disabled {
      --button-base-background-color: var(
        --button-secondary-background-color-disabled
      );
      --button-base-border-color: var(--button-secondary-border-color-disabled);
      --button-base-border-width: var(--button-secondary-border-width-disabled);
      --button-base-border-offset: var(
        --button-secondary-border-offset-disabled
      );
      --button-base-text-color: var(--button-secondary-text-color-disabled);
      --button-base-icon-color: var(--button-secondary-icon-color-disabled);
      --button-base-text-decoration: var(
        --button-secondary-text-decoration-disabled
      );
      --icon-picto-color: var(--button-secondary-icon-color-disabled);
    }
  }

  &--tertiary {
    --button-base-text-font-size: var(--button-tertiary-text-font-size);
    --button-base-padding: var(--button-tertiary-padding-top)
      var(--button-tertiary-padding-right) var(--button-tertiary-padding-bottom)
      var(--button-tertiary-padding-left);
    --button-base-background-color: var(
      --button-tertiary-background-color-default
    );
    --button-base-border-color: var(--button-tertiary-border-color-default);
    --button-base-border-width: var(--button-tertiary-border-width-default);
    --button-base-border-offset: var(--button-tertiary-border-offset-default);
    --button-base-text-color: var(--button-tertiary-text-color-default);
    --button-base-icon-color: var(--button-tertiary-icon-color-default);
    --button-base-text-decoration: var(
      --button-tertiary-text-decoration-default
    );
    --icon-picto-color: var(--button-tertiary-icon-color-default);

    &:enabled:hover {
      --button-base-background-color: var(
        --button-tertiary-background-color-hover
      );
      --button-base-border-color: var(--button-tertiary-border-color-hover);
      --button-base-border-width: var(--button-tertiary-border-width-hover);
      --button-base-border-offset: var(--button-tertiary-border-offset-hover);
      --button-base-text-color: var(--button-tertiary-text-color-hover);
      --button-base-icon-color: var(--button-tertiary-icon-color-hover);
      --button-base-text-decoration: var(
        --button-tertiary-text-decoration-hover
      );
      --icon-picto-color: var(--button-tertiary-icon-color-hover);
    }

    &:enabled:focus {
      --button-base-background-color: var(
        --button-tertiary-background-color-focus
      );
      --button-base-border-color: var(--button-tertiary-border-color-focus);
      --button-base-border-width: var(--button-tertiary-border-width-focus);
      --button-base-border-offset: var(--button-tertiary-border-offset-focus);
      --button-base-text-color: var(--button-tertiary-text-color-focus);
      --button-base-icon-color: var(--button-tertiary-icon-color-focus);
      --button-base-text-decoration: var(
        --button-tertiary-text-decoration-focus
      );
      --icon-picto-color: var(--button-tertiary-icon-color-focus);
    }

    &:enabled:active {
      --button-base-background-color: var(
        --button-tertiary-background-color-pressed
      );
      --button-base-border-color: var(--button-tertiary-border-color-pressed);
      --button-base-border-width: var(--button-tertiary-border-width-pressed);
      --button-base-border-offset: var(--button-tertiary-border-offset-pressed);
      --button-base-text-color: var(--button-tertiary-text-color-pressed);
      --button-base-icon-color: var(--button-tertiary-icon-color-pressed);
      --button-base-text-decoration: var(
        --button-tertiary-text-decoration-pressed
      );
      --icon-picto-color: var(--button-tertiary-icon-color-pressed);
    }

    &:disabled {
      --button-base-background-color: var(
        --button-tertiary-background-color-disabled
      );
      --button-base-border-color: var(--button-tertiary-border-color-disabled);
      --button-base-border-width: var(--button-tertiary-border-width-disabled);
      --button-base-border-offset: var(
        --button-tertiary-border-offset-disabled
      );
      --button-base-text-color: var(--button-tertiary-text-color-disabled);
      --button-base-icon-color: var(--button-tertiary-icon-color-disabled);
      --button-base-text-decoration: var(
        --button-tertiary-text-decoration-disabled
      );
      --icon-picto-color: var(--button-tertiary-icon-color-disabled);
    }
  }

  &--destructive {
    --button-base-background-color: var(
      --button-destructive-background-color-default
    );
    --button-base-border-color: var(--button-destructive-border-color-default);
    --button-base-border-width: var(--button-destructive-border-width-default);
    --button-base-border-offset: var(
      --button-destructive-border-offset-default
    );
    --button-base-text-color: var(--button-destructive-text-color-default);
    --button-base-icon-color: var(--button-destructive-icon-color-default);
    --button-base-text-decoration: var(
      --button-destructive-text-decoration-default
    );
    --icon-picto-color: var(--button-destructive-icon-color-default);

    &:enabled:hover {
      --button-base-background-color: var(
        --button-destructive-background-color-hover
      );
      --button-base-border-color: var(--button-destructive-border-color-hover);
      --button-base-border-width: var(--button-destructive-border-width-hover);
      --button-base-border-offset: var(
        --button-destructive-border-offset-hover
      );
      --button-base-text-color: var(--button-destructive-text-color-hover);
      --button-base-icon-color: var(--button-destructive-icon-color-hover);
      --button-base-text-decoration: var(
        --button-destructive-text-decoration-hover
      );
      --icon-picto-color: var(--button-destructive-icon-color-hover);
    }

    &:enabled:focus {
      --button-base-background-color: var(
        --button-destructive-background-color-focus
      );
      --button-base-border-color: var(--button-destructive-border-color-focus);
      --button-base-border-width: var(--button-destructive-border-width-focus);
      --button-base-border-offset: var(
        --button-destructive-border-offset-focus
      );
      --button-base-text-color: var(--button-destructive-text-color-focus);
      --button-base-icon-color: var(--button-destructive-icon-color-focus);
      --button-base-text-decoration: var(
        --button-destructive-text-decoration-focus
      );
      --icon-picto-color: var(--button-destructive-icon-color-focus);
    }

    &:enabled:active {
      --button-base-background-color: var(
        --button-destructive-background-color-pressed
      );
      --button-base-border-color: var(
        --button-destructive-border-color-pressed
      );
      --button-base-border-width: var(
        --button-destructive-border-width-pressed
      );
      --button-base-border-offset: var(
        --button-destructive-border-offset-pressed
      );
      --button-base-text-color: var(--button-destructive-text-color-pressed);
      --button-base-icon-color: var(--button-destructive-icon-color-pressed);
      --button-base-text-decoration: var(
        --button-destructive-text-decoration-pressed
      );
      --icon-picto-color: var(--button-destructive-icon-color-pressed);
    }

    &:disabled {
      --button-base-background-color: var(
        --button-destructive-background-color-disabled
      );
      --button-base-border-color: var(
        --button-destructive-border-color-disabled
      );
      --button-base-border-width: var(
        --button-destructive-border-width-disabled
      );
      --button-base-border-offset: var(
        --button-destructive-border-offset-disabled
      );
      --button-base-text-color: var(--button-destructive-text-color-disabled);
      --button-base-icon-color: var(--button-destructive-icon-color-disabled);
      --button-base-text-decoration: var(
        --button-destructive-text-decoration-disabled
      );
      --icon-picto-color: var(--button-destructive-icon-color-disabled);
    }
  }

  &--alternative {
    --button-base-background-color: var(
      --button-alternative-background-color-default
    );
    --button-base-border-color: var(--button-alternative-border-color-default);
    --button-base-border-width: var(--button-alternative-border-width-default);
    --button-base-border-offset: var(
      --button-alternative-border-offset-default
    );
    --button-base-text-color: var(--button-alternative-text-color-default);
    --button-base-icon-color: var(--button-alternative-icon-color-default);
    --button-base-text-decoration: var(
      --button-alternative-text-decoration-default
    );
    --icon-picto-color: var(--button-alternative-icon-color-default);

    &:enabled:hover {
      --button-base-background-color: var(
        --button-alternative-background-color-hover
      );
      --button-base-border-color: var(--button-alternative-border-color-hover);
      --button-base-border-width: var(--button-alternative-border-width-hover);
      --button-base-border-offset: var(
        --button-alternative-border-offset-hover
      );
      --button-base-text-color: var(--button-alternative-text-color-hover);
      --button-base-icon-color: var(--button-alternative-icon-color-hover);
      --button-base-text-decoration: var(
        --button-alternative-text-decoration-hover
      );
      --icon-picto-color: var(--button-alternative-icon-color-hover);
    }

    &:enabled:focus {
      --button-base-background-color: var(
        --button-alternative-background-color-focus
      );
      --button-base-border-color: var(--button-alternative-border-color-focus);
      --button-base-border-width: var(--button-alternative-border-width-focus);
      --button-base-border-offset: var(
        --button-alternative-border-offset-focus
      );
      --button-base-text-color: var(--button-alternative-text-color-focus);
      --button-base-icon-color: var(--button-alternative-icon-color-focus);
      --button-base-text-decoration: var(
        --button-alternative-text-decoration-focus
      );
      --icon-picto-color: var(--button-alternative-icon-color-focus);
    }

    &:enabled:active {
      --button-base-background-color: var(
        --button-alternative-background-color-pressed
      );
      --button-base-border-color: var(
        --button-alternative-border-color-pressed
      );
      --button-base-border-width: var(
        --button-alternative-border-width-pressed
      );
      --button-base-border-offset: var(
        --button-alternative-border-offset-pressed
      );
      --button-base-text-color: var(--button-alternative-text-color-pressed);
      --button-base-icon-color: var(--button-alternative-icon-color-pressed);
      --button-base-text-decoration: var(
        --button-alternative-text-decoration-pressed
      );
      --icon-picto-color: var(--button-alternative-icon-color-pressed);
    }

    &:disabled {
      --button-base-background-color: var(
        --button-alternative-background-color-disabled
      );
      --button-base-border-color: var(
        --button-alternative-border-color-disabled
      );
      --button-base-border-width: var(
        --button-alternative-border-width-disabled
      );
      --button-base-border-offset: var(
        --button-alternative-border-offset-disabled
      );
      --button-base-text-color: var(--button-alternative-text-color-disabled);
      --button-base-icon-color: var(--button-alternative-icon-color-disabled);
      --button-base-text-decoration: var(
        --button-alternative-text-decoration-disabled
      );
      --icon-picto-color: var(--button-alternative-icon-color-disabled);
    }
  }
}

.icon-button {
  outline: var(--icon-button-base-border-width) solid
    var(--icon-button-base-border-color);
  outline-offset: var(--icon-button-base-border-offset);
  border: none;
  border-radius: var(--icon-button-base-radius);
  background-color: var(--icon-button-base-background-color);
  padding: var(--icon-button-base-padding-top)
    var(--icon-button-base-padding-right) var(--icon-button-base-padding-bottom)
    var(--icon-button-base-padding-left);
  width: var(--icon-button-base-width);
  height: var(--icon-button-base-height);

  .icon-box {
    background-color: var(--icon-button-base-icon-color);
    width: var(--icon-button-base-icon-width);
    height: var(--icon-button-base-icon-height);
  }

  &--small {
    width: var(--icon-button-small-width);
    height: var(--icon-button-small-height);
  }

  &--large {
    width: var(--icon-button-large-width);
    height: var(--icon-button-large-height);
  }

  &--new::after {
    position: absolute;
    top: var(--icon-button-base-notification-top);
    right: var(--icon-button-base-notification-right);
    outline: var(--icon-button-base-notification-border-width) solid
      var(--icon-button-base-notification-border-color);
    outline-offset: var(--icon-button-base-notification-border-offset);
    border-radius: var(--icon-button-base-notification-radius);
    background-color: var(--icon-button-base-notification-background-color);
    width: var(--icon-button-base-notification-width);
    height: var(--icon-button-base-notification-height);
    content: '';
  }

  & * {
    filter: none;
  }

  & {
    --icon-button-base-background-color: var(
      --icon-button-default-background-color-default
    );
    --icon-button-base-border-color: var(
      --icon-button-default-border-color-default
    );
    --icon-button-base-border-width: var(
      --icon-button-default-border-width-default
    );
    --icon-button-base-border-offset: var(
      --icon-button-default-border-offset-default
    );
    --icon-button-base-icon-color: var(
      --icon-button-default-icon-color-default
    );
    --icon-button-base-notification-background-color: var(
      --icon-button-default-notification-background-color-default
    );
    --icon-button-base-notification-border-color: var(
      --icon-button-default-notification-border-color-default
    );
  }

  &:enabled:hover {
    --icon-button-base-background-color: var(
      --icon-button-default-background-color-hover
    );
    --icon-button-base-border-color: var(
      --icon-button-default-border-color-hover
    );
    --icon-button-base-border-width: var(
      --icon-button-default-border-width-hover
    );
    --icon-button-base-border-offset: var(
      --icon-button-default-border-offset-hover
    );
    --icon-button-base-icon-color: var(--icon-button-default-icon-color-hover);
    --icon-button-base-notification-background-color: var(
      --icon-button-default-notification-background-color-hover
    );
    --icon-button-base-notification-border-color: var(
      --icon-button-default-notification-border-color-hover
    );
  }

  &:enabled:focus {
    --icon-button-base-background-color: var(
      --icon-button-default-background-color-focus
    );
    --icon-button-base-border-color: var(
      --icon-button-default-border-color-focus
    );
    --icon-button-base-border-width: var(
      --icon-button-default-border-width-focus
    );
    --icon-button-base-border-offset: var(
      --icon-button-default-border-offset-focus
    );
    --icon-button-base-icon-color: var(--icon-button-default-icon-color-focus);
    --icon-button-base-notification-background-color: var(
      --icon-button-default-notification-background-color-focus
    );
    --icon-button-base-notification-border-color: var(
      --icon-button-default-notification-border-color-focus
    );
  }

  &:enabled:active {
    --icon-button-base-background-color: var(
      --icon-button-default-background-color-pressed
    );
    --icon-button-base-border-color: var(
      --icon-button-default-border-color-pressed
    );
    --icon-button-base-border-width: var(
      --icon-button-default-border-width-pressed
    );
    --icon-button-base-border-offset: var(
      --icon-button-default-border-offset-pressed
    );
    --icon-button-base-icon-color: var(
      --icon-button-default-icon-color-pressed
    );
    --icon-button-base-notification-background-color: var(
      --icon-button-default-notification-background-color-pressed
    );
    --icon-button-base-notification-border-color: var(
      --icon-button-default-notification-border-color-pressed
    );
  }

  &:disabled {
    --icon-button-base-background-color: var(
      --icon-button-background-color-disabled
    );
    --icon-button-base-border-color: var(
      --icon-button-default-border-color-disabled
    );
    --icon-button-base-border-width: var(
      --icon-button-default-border-width-disabled
    );
    --icon-button-base-border-offset: var(
      --icon-button-default-border-offset-disabled
    );
    --icon-button-base-icon-color: var(
      --icon-button-default-icon-color-disabled
    );
    --icon-button-base-notification-background-color: var(
      --icon-button-default-notification-background-color-disabled
    );
    --icon-button-base-notification-border-color: var(
      --icon-button-default-notification-border-color-disabled
    );
  }

  &--selected {
    --icon-button-base-background-color: var(
      --icon-button-selected-background-color-default
    );
    --icon-button-base-border-color: var(
      --icon-button-selected-border-color-default
    );
    --icon-button-base-border-width: var(
      --icon-button-selected-border-width-default
    );
    --icon-button-base-border-offset: var(
      --icon-button-selected-border-offset-default
    );
    --icon-button-base-icon-color: var(
      --icon-button-selected-icon-color-default
    );
    --icon-button-base-notification-background-color: var(
      --icon-button-selected-notification-background-color-default
    );
    --icon-button-base-notification-border-color: var(
      --icon-button-selected-notification-border-color-default
    );

    &:enabled:hover {
      --icon-button-base-background-color: var(
        --icon-button-selected-background-color-hover
      );
      --icon-button-base-border-color: var(
        --icon-button-selected-border-color-hover
      );
      --icon-button-base-border-width: var(
        --icon-button-selected-border-width-hover
      );
      --icon-button-base-border-offset: var(
        --icon-button-selected-border-offset-hover
      );
      --icon-button-base-icon-color: var(
        --icon-button-selected-icon-color-hover
      );
      --icon-button-base-notification-background-color: var(
        --icon-button-selected-notification-background-color-hover
      );
      --icon-button-base-notification-border-color: var(
        --icon-button-selected-notification-border-color-hover
      );
    }

    &:enabled:focus {
      --icon-button-base-background-color: var(
        --icon-button-selected-background-color-focus
      );
      --icon-button-base-border-color: var(
        --icon-button-selected-border-color-focus
      );
      --icon-button-base-border-width: var(
        --icon-button-selected-border-width-focus
      );
      --icon-button-base-border-offset: var(
        --icon-button-selected-border-offset-focus
      );
      --icon-button-base-icon-color: var(
        --icon-button-selected-icon-color-focus
      );
      --icon-button-base-notification-background-color: var(
        --icon-button-selected-notification-background-color-focus
      );
      --icon-button-base-notification-border-color: var(
        --icon-button-selected-notification-border-color-focus
      );
    }

    &:enabled:active {
      --icon-button-base-background-color: var(
        --icon-button-selected-background-color-pressed
      );
      --icon-button-base-border-color: var(
        --icon-button-selected-border-color-pressed
      );
      --icon-button-base-border-width: var(
        --icon-button-selected-border-width-pressed
      );
      --icon-button-base-border-offset: var(
        --icon-button-selected-border-offset-pressed
      );
      --icon-button-base-icon-color: var(
        --icon-button-selected-icon-color-pressed
      );
      --icon-button-base-notification-background-color: var(
        --icon-button-selected-notification-background-color-pressed
      );
      --icon-button-base-notification-border-color: var(
        --icon-button-selected-notification-border-color-pressed
      );
    }

    &:disabled {
      --icon-button-base-background-color: var(
        --icon-button-selected-background-color-disabled
      );
      --icon-button-base-border-color: var(
        --icon-button-selected-border-color-disabled
      );
      --icon-button-base-border-width: var(
        --icon-button-selected-border-width-disabled
      );
      --icon-button-base-border-offset: var(
        --icon-button-selected-border-offset-disabled
      );
      --icon-button-base-icon-color: var(
        --icon-button-selected-icon-color-disabled
      );
      --icon-button-base-notification-background-color: var(
        --icon-button-selected-notification-background-color-disabled
      );
      --icon-button-base-notification-border-color: var(
        --icon-button-selected-notification-border-color-disabled
      );
    }
  }
}
