@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.draggable-window {
  position: fixed;
  z-index: 9999;
  outline: var(--draggable-window-border-width) solid
    var(--draggable-window-border-color);
  outline-offset: var(--draggable-window-border-offset);
  box-shadow: var(--draggable-window-shadow);
  border-radius: var(--draggable-window-radius);
  background-color: var(--draggable-window-background-color);
  width: var(--draggable-window-width);
  max-width: 100%;

  &__header {
    --bar-border: var(--draggable-window-header-border);

    cursor: move;

    .section-title {
      pointer-events: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--draggable-window-content-gap);
    padding: var(--draggable-window-content-padding-top)
      var(--draggable-window-content-padding-right)
      var(--draggable-window-content-padding-bottom)
      var(--draggable-window-content-padding-left);
  }
}
