@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.icon-box {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: var(--icon-width);
  height: var(--icon-height);
  pointer-events: none;
  user-select: none;

  &--picto {
    background-color: var(--icon-picto-color);
  }

  &--letter span {
    color: var(--icon-letter-color);
    font-size: var(--icon-letter-text-size) !important;
  }
}
