@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.color-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--color-item-gap);
  cursor: default;
  padding: var(--color-item-padding-top) var(--color-item-padding-right)
    var(--color-item-padding-bottom) var(--color-item-padding-left);
  height: var(--color-item-height);
  user-select: none;

  .color-item__left {
    flex: 1;
    overflow: hidden;
  }

  .color-item__info {
    display: flex;
    align-items: center;
    gap: var(--color-item-gap);
    max-width: 100%;
    white-space: nowrap;
  }
}
