@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.tabs {
  display: flex;
  align-items: stretch;
  gap: var(--tabs-gap);
  cursor: default;
  border-radius: var(--tabs-radius);
  background-color: var(--tabs-background-color);
  padding: var(--tabs-padding);
  user-select: none;

  & {
    --tabs-gap: var(--tabs-gap-default);
    --tabs-radius: var(--tabs-radius-default);
    --tabs-padding: var(--tabs-padding-default-top)
      var(--tabs-padding-default-right) var(--tabs-padding-default-bottom)
      var(--tabs-padding-default-left);
    --tabs-background-color: var(--tabs-background-color-default);
  }

  .tabs__tab {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: var(--tabs-tab-gap);
    outline: var(--tabs-tab-border-width) solid var(--tabs-tab-border-color);
    outline-offset: var(--tabs-tab-border-offset);
    border-radius: var(--tabs-tab-radius);
    background-color: var(--tabs-tab-background-color);
    padding: var(--tabs-tab-padding);
    height: var(--tabs-tab-height);
    --icon-width: var(--tabs-tab-icon-width);
    --icon-height: var(--tabs-tab-icon-height);
    --icon-picto-color: var(--tabs-tab-icon-color);
    --icon-letter-color: var(--tabs-tab-icon-color);

    & > span {
      pointer-events: none;
      color: var(--tabs-tab-text-color);
      font-weight: var(--tabs-tab-text-weight);
      font-size: var(--tabs-tab-text-size);
      text-transform: var(--tabs-tab-text-transform);
    }

    &--flex {
      flex: 1;
      overflow: hidden;
    }

    & {
      --tabs-tab-padding: var(--tabs-tab-padding-default-top)
        var(--tabs-tab-padding-default-right)
        var(--tabs-tab-padding-default-bottom)
        var(--tabs-tab-padding-default-left);
      --tabs-tab-gap: var(--tabs-tab-gap-default);
      --tabs-tab-radius: var(--tabs-tab-radius-default);
      --tabs-tab-height: var(--tabs-tab-height-default);
      --tabs-tab-icon-width: var(--tabs-tab-icon-width-default);
      --tabs-tab-icon-height: var(--tabs-tab-icon-height-default);
      --tabs-tab-text-size: var(--tabs-tab-text-size-default);
      --tabs-tab-text-transform: var(--tabs-tab-text-transform-default);

      &--with-icon {
        --tabs-tab-padding: var(--tabs-tab-padding-with-icon-top)
          var(--tabs-tab-padding-with-icon-right)
          var(--tabs-tab-padding-with-icon-bottom)
          var(--tabs-tab-padding-with-icon-left);
      }
    }

    &:not(&--active) {
      --tabs-tab-background-color: var(--tabs-tab-background-color-default);
      --tabs-tab-border-color: var(--tabs-tab-border-color-default);
      --tabs-tab-border-width: var(--tabs-tab-border-width-default);
      --tabs-tab-border-offset: var(--tabs-tab-border-offset-default);
      --tabs-tab-text-color: var(--tabs-tab-text-color-default);
      --tabs-tab-text-weight: var(--tabs-tab-text-weight-default);
      --tabs-tab-icon-color: var(--tabs-tab-icon-color-default);
      --tabs-tab-notification-border-color: var(
        --tabs-tab-notification-border-color-default
      );
    }

    &:hover:not(&--active) {
      --tabs-tab-background-color: var(--tabs-tab-background-color-hover);
      --tabs-tab-border-color: var(--tabs-tab-border-color-hover);
      --tabs-tab-border-width: var(--tabs-tab-border-width-hover);
      --tabs-tab-border-offset: var(--tabs-tab-border-offset-hover);
      --tabs-tab-text-color: var(--tabs-tab-text-color-hover);
      --tabs-tab-text-weight: var(--tabs-tab-text-weight-hover);
      --tabs-tab-icon-color: var(--tabs-tab-icon-color-hover);
      --tabs-tab-notification-border-color: var(
        --tabs-tab-notification-border-color-hover
      );
    }

    &:focus:not(&--active) {
      --tabs-tab-background-color: var(--tabs-tab-background-color-focus);
      --tabs-tab-border-color: var(--tabs-tab-border-color-focus);
      --tabs-tab-border-width: var(--tabs-tab-border-width-focus);
      --tabs-tab-border-offset: var(--tabs-tab-border-offset-focus);
      --tabs-tab-text-color: var(--tabs-tab-text-color-focus);
      --tabs-tab-text-weight: var(--tabs-tab-text-weight-focus);
      --tabs-tab-icon-color: var(--tabs-tab-icon-color-focus);
      --tabs-tab-notification-border-color: var(
        --tabs-tab-notification-border-color-focus
      );
    }

    &--active {
      --tabs-tab-background-color: var(--tabs-tab-background-color-active);
      --tabs-tab-border-color: var(--tabs-tab-border-color-active);
      --tabs-tab-border-width: var(--tabs-tab-border-width-active);
      --tabs-tab-border-offset: var(--tabs-tab-border-offset-active);
      --tabs-tab-text-color: var(--tabs-tab-text-color-active);
      --tabs-tab-text-weight: var(--tabs-tab-text-weight-active);
      --tabs-tab-icon-color: var(--tabs-tab-icon-color-active);
      --tabs-tab-notification-border-color: var(
        --tabs-tab-notification-border-color-active
      );
    }
  }

  & .tabs__tab--updated::after {
    position: absolute;
    inset: var(--tabs-tab-notification-inset-top)
      var(--tabs-tab-notification-inset-right)
      var(--tabs-tab-notification-inset-bottom)
      var(--tabs-tab-notification-inset-left);
    outline: var(--tabs-tab-notification-border-width) solid
      var(--tabs-tab-notification-border-color);
    outline-offset: var(--tabs-tab-notification-border-offset);
    border-radius: var(--tabs-tab-notification-radius);
    background-color: var(--tabs-tab-notification-background-color);
    width: var(--tabs-tab-notification-width);
    height: var(--tabs-tab-notification-height);
    content: '';
  }

  &--vertical {
    --tabs-gap: var(--tabs-gap-vertical);
    --tabs-radius: var(--tabs-radius-vertical);
    --tabs-padding: var(--tabs-padding-vertical-top)
      var(--tabs-padding-vertical-right) var(--tabs-padding-vertical-bottom)
      var(--tabs-padding-vertical-left);
    --tabs-background-color: var(--tabs-background-color-vertical);

    flex-direction: column;

    .tabs__tab {
      justify-content: flex-start;

      & > span {
        flex: 1;
      }

      & {
        --tabs-tab-gap: var(--tabs-tab-gap-alternative);
        --tabs-tab-padding: var(--tabs-tab-padding-alternative-top)
          var(--tabs-tab-padding-alternative-right)
          var(--tabs-tab-padding-alternative-bottom)
          var(--tabs-tab-padding-alternative-left);
        --tabs-tab-radius: var(--tabs-tab-radius-alternative);
        --tabs-tab-height: var(--tabs-tab-height-alternative);
        --tabs-tab-text-size: var(--tabs-tab-text-size-alternative);
        --tabs-tab-text-transform: var(--tabs-tab-text-transform-alternative);
        --tabs-tab-icon-width: var(--tabs-tab-icon-width-alternative);
        --tabs-tab-icon-height: var(--tabs-tab-icon-height-alternative);

        &--with-icon {
          --tabs-tab-padding: var(--tabs-tab-padding-alternative-with-icon-top)
            var(--tabs-tab-padding-alternative-with-icon-right)
            var(--tabs-tab-padding-alternative-with-icon-bottom)
            var(--tabs-tab-padding-alternative-with-icon-left);
        }
      }

      &:not(&--active) {
        --tabs-tab-background-color: var(
          --tabs-tab-background-color-alternative
        );
        --tabs-tab-border-color: var(--tabs-tab-border-color-alternative);
        --tabs-tab-border-width: var(--tabs-tab-border-width-alternative);
        --tabs-tab-border-offset: var(--tabs-tab-border-offset-alternative);
        --tabs-tab-text-color: var(--tabs-tab-text-color-alternative);
        --tabs-tab-text-weight: var(--tabs-tab-text-weight-alternative);
        --tabs-tab-icon-color: var(--tabs-tab-icon-color-alternative);
      }

      &:hover:not(&--active) {
        --tabs-tab-background-color: var(
          --tabs-tab-background-color-alternative-hover
        );
        --tabs-tab-border-color: var(--tabs-tab-border-color-alternative-hover);
        --tabs-tab-border-width: var(--tabs-tab-border-width-alternative-hover);
        --tabs-tab-border-offset: var(
          --tabs-tab-border-offset-alternative-hover
        );
        --tabs-tab-text-color: var(--tabs-tab-text-color-alternative-hover);
        --tabs-tab-text-weight: var(--tabs-tab-text-weight-alternative-hover);
        --tabs-tab-icon-color: var(--tabs-tab-icon-color-alternative-hover);
        --tabs-tab-notification-border-color: var(
          --tabs-tab-notification-border-color-alternative-hover
        );
      }

      &:focus:not(&--active) {
        --tabs-tab-background-color: var(
          --tabs-tab-background-color-alternative-focus
        );
        --tabs-tab-border-color: var(--tabs-tab-border-color-alternative-focus);
        --tabs-tab-border-width: var(--tabs-tab-border-width-alternative-focus);
        --tabs-tab-border-offset: var(
          --tabs-tab-border-offset-alternative-focus
        );
        --tabs-tab-text-color: var(--tabs-tab-text-color-alternative-focus);
        --tabs-tab-text-weight: var(--tabs-tab-text-weight-alternative-focus);
        --tabs-tab-icon-color: var(--tabs-tab-icon-color-alternative-focus);
        --tabs-tab-notification-border-color: var(
          --tabs-tab-notification-border-color-alternative-focus
        );
      }

      &--active {
        --tabs-tab-background-color: var(
          --tabs-tab-background-color-alternative-active
        );
        --tabs-tab-border-color: var(
          --tabs-tab-border-color-alternative-active
        );
        --tabs-tab-border-width: var(
          --tabs-tab-border-width-alternative-active
        );
        --tabs-tab-border-offset: var(
          --tabs-tab-border-offset-alternative-active
        );
        --tabs-tab-text-color: var(--tabs-tab-text-color-alternative-active);
        --tabs-tab-text-weight: var(--tabs-tab-text-weight-alternative-active);
        --tabs-tab-icon-color: var(--tabs-tab-icon-color-alternative-active);
        --tabs-tab-notification-border-color: var(
          --tabs-tab-notification-border-color-alternative-active
        );
      }
    }
  }
}
