@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.accordion {
  cursor: default;
  border-bottom: var(--accordion-border-width) solid
    var(--accordion-border-color);
  padding: var(--accordion-padding-top) var(--accordion-padding-right)
    var(--accordion-padding-bottom) var(--accordion-padding-left);
  user-select: none;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--accordion-row-gap);
    box-sizing: border-box;
    padding: var(--accordion-row-padding-top) var(--accordion-row-padding-right)
      var(--accordion-row-padding-bottom) var(--accordion-row-padding-left);
    height: var(--accordion-row-height);

    --section-title-text-color: var(--accordion-text-color-default);
    --text-color-primary: var(--accordion-text-color-default);
    --icon-picto-color: var(--accordion-icon-color-default);
    --icon-button-default-icon-color-default: var(
      --accordion-icon-color-default
    );

    &:hover,
    &:focus-within {
      --section-title-text-color: var(--accordion-text-color-hover);
      --text-color-primary: var(--accordion-text-color-hover);
      --icon-picto-color: var(--accordion-icon-color-hover);
      --icon-button-default-icon-color-default: var(
        --accordion-icon-color-hover
      );
    }

    &:focus-within {
      --section-title-text-color: var(--accordion-text-color-hover);
      --text-color-primary: var(--accordion-text-color-hover);
    }
  }

  &__row__left {
    display: flex;
    flex: 1;
    align-items: baseline;
    min-width: 0;
  }

  &__row__right {
    display: flex;
    align-items: center;
  }

  &--expanded &__row {
    --section-title-text-color: var(--accordion-text-color-expanded);
    --text-color-primary: var(--accordion-text-color-expanded);
    --icon-picto-color: var(--accordion-icon-color-expanded);
    --icon-button-default-icon-color-default: var(
      --accordion-icon-color-expanded
    );
  }

  &--blocked &__row {
    --section-title-text-color: var(--accordion-text-color-disabled);
    --text-color-primary: var(--accordion-text-color-disabled);
    --icon-picto-color: var(--accordion-icon-color-disabled);
    --icon-button-default-icon-color-default: var(
      --accordion-icon-color-disabled
    );
  }
}
