@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/framer';

.simple-slider {
  display: flex;
  position: relative;
  align-items: center;
  margin: var(--simple-slider-margin-top) var(--simple-slider-margin-right)
    var(--simple-slider-margin-bottom) var(--simple-slider-margin-left);
  padding: var(--simple-slider-padding-top) var(--simple-slider-padding-right)
    var(--simple-slider-padding-bottom) var(--simple-slider-padding-left);

  &--no-padding {
    padding: 0;
  }

  &__range {
    position: relative;
    flex: 1 1 auto;
    box-shadow: inset 0 0 0 var(--simple-slider-border-width)
      var(--simple-slider-border-color);
    border-radius: var(--simple-slider-radius);
    background-color: var(--simple-slider-background-color);
    height: var(--simple-slider-height);
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--simple-slider-radius);
    background-color: var(--simple-slider-progress-color);
    height: 100%;
    pointer-events: none;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: var(--simple-slider-status-gap);
    margin: var(--simple-slider-status-margin-top)
      var(--simple-slider-status-margin-right)
      var(--simple-slider-status-margin-bottom)
      var(--simple-slider-status-margin-left);
    height: var(--simple-slider-status-height);
  }
}
