@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.draggable-item {
  display: grid;
  position: relative;
  grid-template-rows: var(--draggable-item-template-rows);
  grid-template-columns: var(--draggable-item-template-columns);
  background-color: var(--draggable-item-background-color);
  padding: var(--draggable-item-padding-top) var(--draggable-item-padding-right)
    var(--draggable-item-padding-bottom) var(--draggable-item-padding-left);

  & {
    --draggable-item-background-color: var(
      --draggable-item-background-color-default
    );
  }

  &[draggable='true'] {
    --draggable-item-background-color: var(
      --draggable-item-background-color-selected
    );
    --icon-button-default-background-color-default: var(
      --icon-button-default-background-color-onselected
    );
    --icon-button-default-background-color-hover: var(
      --icon-button-default-background-color-onselected-hover
    );

    --input-background-color-default: var(
      --input-background-color-onselected-default
    );
    --input-border-color-default: var(--input-border-color-onselected-default);
    --input-border-width-default: var(--input-border-width-onselected-default);
    --input-border-offset-default: var(
      --input-border-offset-onselected-default
    );

    --input-background-color-default-hover: var(
      --input-background-color-onselected-hover
    );
    --input-border-color-hover: var(--input-border-color-onselected-hover);
    --input-border-width-hover: var(--input-border-width-onselected-hover);
    --input-border-offset-hover: var(--input-border-offset-onselected-hover);
  }

  &[draggable='true']:active {
    cursor: grabbing;
  }

  &--dragged:active > div {
    pointer-events: none;
  }

  &--above::before {
    position: absolute;
    top: var(--draggable-item-ghost-inset);
    left: 0;
    z-index: 99;
    background-color: var(--draggable-item-ghost-color);
    width: 100%;
    height: var(--draggable-item-ghost-height);
    content: '';
  }

  &--below::before {
    position: absolute;
    bottom: var(--draggable-item-ghost-inset);
    left: 0;
    z-index: 99;
    background-color: var(--draggable-item-ghost-color);
    width: 100%;
    height: var(--draggable-item-ghost-height);
    content: '';
  }

  .draggable-item__primary {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 77;
    justify-content: space-between;
  }

  .draggable-item__left,
  .draggable-item__right {
    display: flex;
    align-items: center;
    gap: var(--draggable-item-gap);
    max-width: 100%;
  }

  .draggable-item__param {
    max-width: 100%;

    &--compact {
      width: var(--draggable-item-param-width-compact);
    }

    &--square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--draggable-item-param-width-square);
    }
  }

  .draggable-item__buttons--compact {
    grid-column: span 4 / 37;
  }
}
