@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.message {
  display: flex;
  align-items: start;
  gap: var(--message-gap);
  cursor: default;
  padding: var(--message-padding-top) var(--message-padding-right)
    var(--message-padding-bottom) var(--message-padding-left);
  user-select: none;
  --icon-picto-color: var(--message-icon-color-default);
  --text-color-primary: var(--message-text-color-default);

  &--blocked {
    --icon-picto-color: var(--message-icon-color-disabled);
    --text-color-primary: var(--message-text-color-disabled);
  }

  &--multiple {
    align-items: center;
  }

  &__msg {
    padding: var(--message-message-padding-top)
      var(--message-message-padding-right) var(--message-message-padding-bottom)
      var(--message-message-padding-left);
  }

  /* Tips ticker */
  &__ticker {
    display: flex;
    position: relative;
    flex: 1;
    max-width: var(--message-ticker-max-width);
    height: var(--message-ticker-height);
    overflow: hidden;

    .message__msg {
      padding: var(--message-message-padding-top)
        var(--message-message-padding-right)
        var(--message-message-padding-bottom)
        var(--message-message-padding-left);
      white-space: nowrap;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: 2;
      width: var(--message-ticker-mask-width);
      height: 100%;
      content: '';
    }

    &::before {
      left: 0;
      background: linear-gradient(
        90deg,
        var(--message-ticker-mask-background-color) 0%,
        transparent 100%
      );
    }

    &::after {
      right: 0;
      background: linear-gradient(
        90deg,
        transparent 0%,
        var(--message-ticker-mask-background-color) 100%
      );
    }
  }

  &__tips {
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: var(--message-ticker-gap);
    padding: var(--message-ticker-padding);
    width: max-content;
  }

  &__ticker:hover &__tips {
    animation-play-state: paused !important;
  }
}

.callout .message__msg {
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
