@import 'styles/penpot';
@import 'styles/sketch';
@import 'styles/figma';
@import 'styles/yelbolt';
@import 'styles/framer';

.members-list {
  display: inline-flex;
  align-items: center;
  cursor: default;
  user-select: none;

  &__member {
    position: relative;
    margin-left: var(--members-list-gap);
  }

  &__member:first-child {
    margin-left: 0;
  }

  &__avatar {
    flex: none;
    outline: var(--members-list-avatar-border-width) solid
      var(--members-list-avatar-border-color);
    outline-offset: var(--members-list-avatar-border-offset);
    border-radius: var(--members-list-avatar-radius);
    width: var(--members-list-avatar-width);
    height: var(--members-list-avatar-height);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__remaining {
    display: flex;
    position: relative;
    align-items: center;
    padding: var(--members-list-more-padding-top)
      var(--members-list-more-padding-right)
      var(--members-list-more-padding-bottom)
      var(--members-list-more-padding-left);
    height: var(--members-list-avatar-height);
  }

  &__list {
    display: flex;
    flex-direction: column;
    --text-color-primary: var(--members-list-text-color);
  }
}
